@using Ext.Net.MVC;
@using Ext.Net.Utilities;
@using Ext.Net;
@using FatSodDental.UI.Tools;
@using FatSod.Security.Entities;
@using FatSod.Ressources;
@model System.Collections.IEnumerable
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var X = Html.X();
    var profile = (int)Session["UserProfile"];
    var db = new FatSod.DataContext.Concrete.EFDbContext();
}
 @section content
{
    @(X.FormPanel()
        .ID("Unknow")
        .Items(
             X.PanelTitle()
              .ID("PanelTitl555e")
              .Border(true)
              .Padding(2)
              .Content(
                   @<header>
                      <h4>@Resources.ProfileManagementAvanced</h4>
                      <h6><code>@Resources.Select <span class="icon-opt"></span></code> un profile afin d'autoriser ou restreindre une action sur un de ses menus.</h6>
                  </header>
           )
        )
        .Frame(true)
        .MarginSpec("-50 20 20 20")
        .BodyPadding(10)
    )
@(Html.X().GridPanel()
        .Title(Resources.ProfileList)
        .Layout(LayoutType.Fit)
        .Frame(true)
        .MarginSpec("-40 20 20 20")
        .Collapsible(false)
        .Store(Html.X().Store()
            .GroupField("Light")
            .Model(Html.X().Model()
                .Fields(
                    new ModelField() { Name = "ProfileLabel", Type = ModelFieldType.Auto },
                    new ModelField() { Name = "ProfileCode", Type = ModelFieldType.Auto },
                    new ModelField() { Name = "ProfileDescription", Type = ModelFieldType.Auto },
                    new ModelField("ProfileID", ModelFieldType.Int)

                )
            ).DataSource(Model)
        )

        .ColumnModel(
            Html.X().ImageCommandColumn()
                            .Width(30)
                            //.Hidden(LoadAction.Profile(MenuAction.UPDATE, profile))
                            .Commands(
                            Html.X().ImageCommand()
                                    .CommandName("Edit")
                                    .IconCls("icon-opt")
                                    //.ToolTip(tt => tt.Text = "Optimiser le profile ?")
                                    )
                                    .DirectEvents(de =>
                                    {
                                        de.Command.Action = "AvancedCheckedMenus";
                                        de.Command.ExtraParams.Add(new Parameter("ID", "record.data.ProfileID", ParameterMode.Raw));
                                        de.Command.EventMask.ShowMask = true;
                                        de.Command.EventMask.Msg = Resources.EventMaskUpdate;
                                    })
              ,

                Html.X().Column()
                    .Text("Profile ID")
                    .DataIndex("ProfileID")
                    .Flex(1)
                    ,
            Html.X().Column()
                .Text(Resources.PersonName)
                .DataIndex("ProfileLabel")
                .Flex(1)
                ,
            Html.X().Column()
                .Text("Description")
                .DataIndex("ProfileDescription")
                .Flex(1),
            Html.X().Column()
                    .Text("Code")
                    .DataIndex("ProfileCode")
                    .Flex(1)

            )
            .BottomBar(
                 Html.X().PagingToolbar()
            )
)
@(Html.X().Container()
    .MarginSpec("10 0 0 0")
    .Items(
            X.Container()
             .ID("AvancedProfileCheckMenu")

    )
)

}
