@using FatSod.Ressources;
@using FatSod.Supply.Entities;
@using FatSod.DataContext.Initializer;

@{
    ViewBag.Title = @Resources.ValidatedSale;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var profile = (int)Session["UserProfile"];
    var user = (int)Session["UserID"];
    string cashRegisterCode = CodeValue.Accounting.DefaultCodeAccountingSection.CODECAIS;
    string banCode = CodeValue.Accounting.DefaultCodeAccountingSection.CODEBANK;
    string digitalPaymentCode = CodeValue.Accounting.DefaultCodeAccountingSection.DIGITAL_PAYMENT;

}

<div class="row" style="margin-top:5px;margin-left:25px">
    @if (TempData["Message"] != null)
    {
        @Html.Raw(TempData["Message"])
    }
</div>
    <div class="box box-primary box-body" id="SaleValideForm">
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <input class="form-control input-sm" id="DisplayForm" type="hidden" value="@ViewBag.DisplayForm">
                    <div class="panel panel-default">
                        <div class="panel-body2">

                            <table class="table" id="mainTable">
                                <thead>
                                    <tr class="dataTableHead">
                                        <th>ID</th>
                                        <th>@Resources.UIDateOperation</th>
                                        <th>@Resources.CustorderEstimation</th>
                                        <th>@Resources.Commandref</th>
                                        <th>@Resources.Customer</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <!--fin tableau entete-->
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <div class="panel panel-default">
                        <div class="panel-body1">
                            <input type="hidden" id="StatutSale" value="@SalePurchaseStatut.Delivered" />
                            <input type="hidden" id="OldStatutSale" value="@SalePurchaseStatut.Ordered" />

                            <input type="hidden" id="SaleValidate" value="true" />
                            <input type="hidden" id="SaleID" />

                            <input type="hidden" id="ProductCategoryID" value="0" />

                            <input type="hidden" id="heureVente" />

                            <input type="hidden" id="TypeLens" />
                            <input type="hidden" id="PostByID" />
                            <input type="hidden" id="SellerID" />
                            

                            <input type="hidden" id="SaleReceiptNumber" />
                            <input type="hidden" id="BranchID" value="@ViewBag.CurrentBranch" />
                            <div class="col-md-6">
                                <div class="row ipt">
                                    <div class="col-sm-3">@Resources.Customer<code>(*)</code></div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="text" id="CustomerName" class="input-sm form-control" readonly>
                                            <input type="hidden" id="CustomerID" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row ipt">
                                    <div class="col-sm-3">@Resources.UIDateOperation</div>
                                    <div class="col-sm-6">
                                        <input type="text" id="SaleDate" class="input-sm form-control" readonly />
                                    </div>
                                </div>
                                <div class="row ipt">
                                    <div class="col-sm-3">@Resources.registerNumber</div>
                                    <div class="col-sm-6">
                                        <input type="text" id="CustomerNumber" class="input-sm form-control" readonly />
                                    </div>
                                </div>
                                @*<div class="row ipt">
                                        <div class="col-sm-8" style="margin-bottom:2%;">
                                            @Resources.ProductGift : <input type="checkbox" id="spray"  value="0"  onclick="CheckSprayClick()" /> @Resources.lensspray
                                        </div>
                                    </div>*@
                            </div>
                            <div class="col-md-6">
                                <div class="row ipt">
                                    <div class="col-sm-3">@Resources.PhoneNumber</div>
                                    <div class="col-sm-6">
                                        <input class="form-control input-sm" id="Remarque" type="text" readonly>
                                    </div>
                                </div>
                                <div class="row ipt">
                                    <div class="col-sm-3">@Resources.MedecinTraitant</div>
                                    <div class="col-sm-6">
                                        <input class="form-control input-sm" id="MedecinTraitant" type="text" readonly>
                                    </div>
                                </div>
                                @*<div class="row ipt">
                                        <div class="col-sm-8" style="margin-bottom:2%;">
                                            @Resources.lenscase : <input type="checkbox" id="boitier"  value="0"  onclick="CheckboitierClick()" /> @Resources.lenscase
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top:-25px;">
                <fieldset>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <input type="hidden" id="GridState" value="0" />
                            <input type="hidden" id="LineID" value="0" />
                            <input type="hidden" id="SpecialOrderLineCode" />
                            <input type="hidden" id="LELineID" value="0" />
                            <input type="hidden" id="RELineID" value="0" />
                            <input type="hidden" id="FRLineID" value="0" />
                            <input type="hidden" id="LensCategory" />
                            <input type="hidden" id="AuthoriseSaleID" />

                            <input type="hidden" id="LocalizationID" class="input-sm form-control" />
                            <input type="hidden" id="SalesProductsType" class="input-sm form-control">
                            <fieldset style="margin-top:-25px;">
                                <legend>@Resources.frameProperties</legend>
                                <div class="panel panel-default">
                                    <div class="panel-bodyFrame">
                                        <div class="col-md-6">
                                            <div class="row ipt">
                                                <div class="col-sm-4">@Resources.chooseFrameProduct <code>(*)</code></div>
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <input type="text" id="ProductName" class="input-sm form-control" readonly />
                                                        <input type="hidden" id="ProductID" class="input-sm form-control" />
                                                    </div>
                                                    <div class="col-sm-3" style="margin-left:-25px;">
                                                        <input type="number" id="StockQuantity" class="input-sm form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ipt">
                                                <div class="col-sm-4">@Resources.Marque <code>(*)</code></div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="text" id="marque" class="input-sm form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ipt">
                                                <div class="col-sm-4">@Resources.UnitPrice <code>(*)</code></div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="number" min="0" id="FramePrice" class="input-sm form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            @*<div class="row ipt">
                                                    <div class="col-sm-4">@Resources.StockQuantity</div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <input type="number" id="StockQuantity" class="input-sm form-control" readonly />
                                                        </div>
                                                    </div>
                                                </div>*@
                                            <div class="row ipt">
                                                <div class="col-sm-4">@Resources.Reference</div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="number" id="Reference" class="input-sm form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ipt">
                                                <div class="col-sm-4">@Resources.NumeroSerie <code>(*)</code></div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="text" id="NumeroSerie" class="input-sm form-control" readonly />
                                                        <input type="hidden" id="reference" class="input-sm form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ipt">
                                                <div class="col-sm-4">@Resources.Quantity <code>(*)</code></div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="number" min="1" id="FrameLineQuantity" class="input-sm form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset style="margin-top:-25px;">
                                <legend>@Resources.lensProperties</legend>
                                <div class="panel panel-default">
                                    <div class="panel-bodyLens">
                                        <div class="col-md-6">
                                            <div class="row ipt">
                                                <div class="col-sm-4">@Resources.Categories</div>
                                                <div class="row">
                                                    <div class="col-sm-7">
                                                        <input type="text" id="LensCategoryCode" class="input-sm form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row ipt">
                                                <div class="col-sm-2">@Resources.SupplyingName</div>
                                                <div class="row">
                                                    <div class="col-sm-9">
                                                        <input type="text" id="SupplyingName" class="input-sm form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="row ipt">
                                                <div class="col-sm-2">
                                                    <span>@Resources.EyeSide</span>
                                                </div>
                                                <div class="col-sm-2" style="margin-left:-85px;">
                                                    <span>Sphere</span>
                                                </div>
                                                <div class="col-sm-2" style="margin-left:-25px;">
                                                    <span>Cylinder</span>
                                                </div>
                                                <div class="col-sm-2" style="margin-left:-25px;">
                                                    <span>Axis</span>
                                                </div>
                                                <div class="col-sm-2" style="margin-left:-25px;">
                                                    <span>Addition</span>
                                                </div>
                                                <div class="col-sm-2" style="margin-left:-25px;">
                                                    <span>Command Lens ?</span>
                                                </div>
                                            </div>
                                            <div class="row ipt">
                                                <div class="col-sm-2">
                                                    <span>@Resources.RightSide</span>
                                                </div>
                                                <div class="col-sm-2" style="margin-left:-75px;">
                                                    <input type="text" id="RESphere" class="input-sm form-control" readonly />
                                                </div>
                                                <div class="col-sm-2" style="margin-left:-25px;">
                                                    <input type="text" id="RECylinder" class="input-sm form-control" readonly />
                                                </div>
                                                <div class="col-sm-2" style="margin-left:-25px;">
                                                    <input type="text" id="REAxis" class="input-sm form-control NumbersAndDecimal" readonly />
                                                </div>
                                                <div class="col-sm-2" style="margin-left:-25px;">
                                                    <input type="text" id="REAddition" class="input-sm form-control" readonly />
                                                </div>
                                                <div class="col-sm-2" style="margin-left:-25px;">
                                                    <input type="text" id="isRCommandGlass" class="input-sm form-control" readonly />
                                                </div>
                                                <input type="hidden" id="REIndex" class="input-sm form-control NumbersAndDecimal">

                                            </div>

                                            <div class="row ipt">
                                                <div class="col-sm-2">
                                                    <span>@Resources.LeftSide</span>
                                                </div>
                                                <div class="col-sm-2" style="margin-left:-75px;">
                                                    <input type="text" id="LESphere" class="input-sm form-control" readonly />
                                                </div>
                                                <div class="col-sm-2" style="margin-left:-25px;">
                                                    <input type="text" id="LECylinder" class="input-sm form-control" readonly />
                                                </div>
                                                <div class="col-sm-2" style="margin-left:-25px;">
                                                    <input type="text" id="LEAxis" class="input-sm form-control NumbersAndDecimal" readonly />
                                                </div>
                                                <div class="col-sm-2" style="margin-left:-25px;">
                                                    <input type="text" id="LEAddition" class="input-sm form-control" readonly />
                                                </div>
                                                <div class="col-sm-2" style="margin-left:-25px;">
                                                    <input type="text" id="isLCommandGlass" class="input-sm form-control" readonly />
                                                </div>
                                                <input type="hidden" id="LEIndex" class="input-sm form-control NumbersAndDecimal">

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row ipt">
                                                <div class="col-sm-5">@Resources.LensPriceSimple <code>(*)</code></div>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <input type="number" min="0" id="LensPrice" class="input-sm form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row ipt">
                                                <div class="col-sm-4">@Resources.Quantity <code>(*)</code></div>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <input type="number" min="1" id="LensLineQuantity" class="input-sm form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row ipt1" style="margin-top:-25px;">
                                <div class="col-sm-2" style="margin-left:25px;">@Resources.SaleAmount</div>
                                <div class="col-sm-2" style="margin-left:-25px;">
                                    <input type="number" id="LineUnitPrice" class="input-sm form-control" readonly />
                                </div>
                                <div class="col-sm-2">@Resources.AdvancedAmount</div>
                                <div class="col-sm-2" style="margin-left:-55px;">
                                    <input type="number" id="SliceAmount" class="input-sm form-control" />
                                </div>
                                <div class="col-sm-2">@Resources.RemainingAmount</div>
                                <div class="col-sm-2" style="margin-left:-20px;">
                                    <input type="number" id="RemaingAmount" class="input-sm form-control" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top:-10px;">
                <fieldset style="height:95px;">

                    <div class="panel panel-default">
                        <div class="panel-body3">

                            <input class="form-control" id="CashRegisterCode" name="CashRegisterCode" value="@cashRegisterCode" type="hidden">
                            <input class="form-control" id="banCode" name="banCode" value="@banCode" type="hidden">
                            <input class="form-control" id="digitalPaymentCode" name="digitalPaymentCode" value="@digitalPaymentCode" type="hidden">

                            <input class="form-control number" id="PaymentDelay" name="PaymentDelay" value="0" type="hidden">
                            <input class="form-control number" id="Guaranteed" name="Guaranteed" value="0" type="hidden">
                            <div class="col-sm-3">
                                <div class="row ipt">
                                    <div class="col-sm-12">@Resources.PaymentMethod <code>(*)</code></div>
                                </div>
                                <div class="row ipt">
                                    <div class="col-sm-12">
                                        <select class="form-control" id="BuyType" name="BuyType"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3" id="BankInfo" hidden>
                                <div class="row ipt">
                                    <div class="col-sm-12" id="labelchoixbank">@Resources.ChoixBank <code>(*)</code></div>
                                </div>
                                <div class="row ipt">
                                    <div class="col-sm-12" id="inputchoixbank">
                                        <select class="form-control" id="PaymentMethodID" name="PaymentMethodID"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" id="DigitalPaymentInfo" hidden>
                                <div class="row ipt">
                                    <div class="col-sm-6">
                                        <div class="row ipt">
                                            <div class="col-sm-12">@Resources.Choice <code>(*)</code></div>
                                        </div>
                                        <div class="row ipt">
                                            <div class="col-sm-12">
                                                <select class="form-control" id="DigitalPaymentMethodID" name="DigitalPaymentMethodID"></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="row ipt">
                                            <div class="col-sm-12">@Resources.TransactionCode <code>(*)</code></div>
                                        </div>
                                        <div class="row ipt">
                                            <div class="col-sm-12">
                                                <input type="text" id="TransactionIdentifier"  name="TransactionIdentifier" class="input-sm form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control" id="DeviseID" name="DeviseID" value="@ViewBag.DefaultDeviseID" type="hidden" />
                                <div class="row ipt">
                                    <div class="col-sm-12">@Resources.DateRdv</div>
                                </div>

                                <div class="row ipt">
                                    <div class="col-sm-12" style="margin-left:-5px;">
                                        <input class="form-control" type="text" id="DateRdv" readonly />
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <!-- Save and Reset Buttons -->
        <div class="row" style="margin-top:-15px;">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary btn-success" id="btnSubmit">@Resources.SaveButton</button>
            </div>
            <div class="col-sm-2">
                <button id="btnReceipt" class="btn btn-primary" onclick="location.href='@Url.Action("RptReceipt", "ReportsHome", new { area = ""})'"><i class="fa fa-print"></i> @Resources.PrintReceipt</button>
            </div>
            <div class="col-sm-2">
                <button id="btnDeliveryOrder" class="btn btn-primary" onclick="location.href='@Url.Action("RptReceiptDetail", "ReportsHome", new { area = "" })'"><i class="fa fa-print"></i> @Resources.PrintDatailReceipt</button>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
                <button type="button" id="btnCancel" class="btn btn-primary btn-danger">@Resources.ResetButton</button>
            </div>
        </div>
    </div>
    <!-- Css Begins Here -->

    <style>
        .invalid-data {
            border: 1px solid red;
        }

        .valid-data {
            border: 1px solid #ccc;
        }

        .ipt {
            margin-bottom: 6px;
        }

        .ipt1 {
            margin-top: 2%;
            margin-bottom: 3%;
        }

        #img-upload {
            width: 100%;
        }

        /*Adding some css for looks good*/
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 90%;
        }

        #after_manual_posting_yes {
            margin-right: 15px;
        }

        fieldset {
            border: 1px solid #ddd !important;
            margin-left: 10px;
            min-width: 0;
            padding: 10px;
            position: relative;
            border-radius: 4px;
            background-color: #99bce8;
            padding-left: 10px !important;
        }

        .panel-body {
            height: 395px;
            margin-bottom: 1%;
        }

        .panel-bodyfielset1 {
            height: 100px;
        }

        .panel-bodyfielset2 {
            height: 50px;
        }

        .panel-body1 {
            height: 85px;
            margin-top: 5px;
            margin-bottom: 3%;
        }

        .panel-body2 {
            height: 200px;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .panel-body3 {
            height: 60px;
            margin-top: 3px;
            margin-bottom: 1%;
        }

        .panel-bodyFrame {
            height: 100px;
        }

        .panel-bodyLens {
            height: 160px;
            margin-bottom: 2%;
        }

        legend {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 0px;
            width: 70%;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px 5px 5px 10px;
            background-color: #ffffff;
        }

        .panel-body4 {
            height: 300px;
            margin-left: 10px;
        }
    </style>

    <script>

        // Get the BuyType List
        function populateBuyType() {
            $.get('@Url.Action("populateBuyType", "ValidatedSale")', {}, function (data) {
                $('#BuyType').empty();
                $('#BuyType').append($("<option value='0'>@Resources.Select</option>"));
                $.each(data, function (key, value) {
                    $('#BuyType').append($("<option></option>").val(value.ID).html(value.Name));
                });
            }, 'json');
        }
        function OnSliceAmountChanged() {

            var BuyType = $('#BuyType').val().trim();

            var cashRegisterCode = $('#CashRegisterCode').val();


            var SliceAmount = $('#SliceAmount').val();
            var TotalPriceTTC = $('#LineUnitPrice').val();
            var remaingAmount = parseInt(TotalPriceTTC) - parseInt(SliceAmount);
            $('#RemaingAmount').val(remaingAmount);

            onBuyTypeChanged();
        }
        function onBuyTypeChanged() {
            var BuyTypeCode = $('#BuyType').val().trim();
            var banCode = $('#banCode').val().trim();
            var digitalPaymentCode = $('#digitalPaymentCode').val().trim();

            console.log("banCode => " + $('#banCode').val());
            console.log("digitalPaymentCode => " + $('#digitalPaymentCode').val());

            if (BuyTypeCode != banCode) {
                $('#PaymentMethodID').empty();
                $('#BankInfo').hide();
            }

            if (BuyTypeCode != digitalPaymentCode) {
                $('#DigitalPaymentMethodID').empty();
                $('#DigitalPaymentInfo').hide();
                $('#TransactionIdentifier').val("");
            }

            if (BuyTypeCode == banCode) {
                $('#BankInfo').show();
                populatePaymentMethodID(BuyTypeCode);
                return;
            }

            if (BuyTypeCode == digitalPaymentCode) {
                $('#DigitalPaymentInfo').show();
                populateDigitalPaymentMethods();
                return;
            }

            
        }
        // Get the PaymentMethodID List
        function populatePaymentMethodID(BuyTypeCode) {

            $.get('@Url.Action("PaymentMethods", "ValidatedSale")', { BuyTypeCode: BuyTypeCode }, function (data) {
                $('#PaymentMethodID').empty();
                $('#PaymentMethodID').append($("<option value='0'>@Resources.Select</option>"));
                $.each(data, function (key, value) {
                    $('#PaymentMethodID').append($("<option></option>").val(value.ID).html(value.Name));
                });
            }, 'json');
        }

        // Get Digital Payment Method List
        function populateDigitalPaymentMethods(BuyTypeCode) {

            $.get('@Url.Action("DigitalPaymentMethods", "ValidatedSale")', { BuyTypeCode: BuyTypeCode }, function (data) {
                $('#DigitalPaymentMethodID').empty();
                $('#DigitalPaymentMethodID').append($("<option value='0'>@Resources.Select</option>"));
                $.each(data, function (key, value) {
                    $('#DigitalPaymentMethodID').append($("<option></option>").val(value.ID).html(value.Name));
                });
            }, 'json');
        }

        //chargement des commandes a valider
        function GetAllCommand(test) {

            if (test) {
                $('#mainTable').dataTable().fnDestroy();
            }
            var oTable = $('#mainTable');

            oTable = $('#mainTable').dataTable({

                fixedColumns: true,
                "paging": true,
                "pageLength": 3,
                "lengthMenu": [[3, 5, 10, -1], [3, 5, 10, "All"]],
                "searching": true,
                "ordering": true,
                "pagingType": "full_numbers",
                // Ajax call
                "ajax": "@Url.Action("ModelSaleValidate", "ValidatedSale")",
                "dom": '<"toolbar">frtip',
                "columns": [
                    { "data": "AuthoriseSaleID", "width": "1%" },
                    { "data": "SaleDate", "width": "20%" },
                    { "data": "TotalPriceHT", "width": "20%" },
                    { "data": "SaleReceiptNumber", "width": "20%" },
                    { "data": "CustomerName", "width": "40%" },
                    {// this is Actions Column
                        mRender: function (data, type, row) {
                            return '<a href="#" class="editor_remove" onclick="UpdateItem(' + row.AuthoriseSaleID + ')"><span class="glyphicon glyphicon-edit"></span></a>'
                        }
                    }
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    if (aData.IsUrgentUI == 'YES') {
                        $(nRow).addClass('urgent-sale');
                    }
                }
            });
            var brefresh = '<a href="#" class="btn btn-primary" style="margin-left:40%;" onclick="RefreshGrid()"><span class="fa fa-refresh"></span></a>'
            $("div.toolbar").html(brefresh);
        }

        function RefreshGrid() {
            clearInitializeCommandFields();
            GetAllCommand(true);
            initCheckBox();
            enablebutton();
        }

        function enablebutton() {
            $('#btnDeliveryOrder').prop('disabled', false);
            $('#btnReceipt').prop('disabled', false);
        }
        function disablebutton() {
            $('#btnDeliveryOrder').prop('disabled', true);
            $('#btnReceipt').prop('disabled', true);
        }
        function clearInitializeCommandFields() {

            $('#btnSubmit').prop('disabled', false);
        }

        $(document).on('ready', function () {
            if ($('#DisplayForm').val().trim() == 0) {
                $("#SaleValideForm").hide();
            }
            else {
                $("#SaleValideForm").show();
            }

            var todaysDate = $('#SaleDate').val();
            $(function () {
                $(".datepicker").datepicker({
                    format: 'yyyy-mm-dd',
                    showButtonPanel: true,
                    minDate: todaysDate
                });
            });

            GetAllCommand(false);


            populateBuyType();
            $("#BuyType").change(function () {
                onBuyTypeChanged();
            });

            //action kd la caisse saisi le montant du avancé par le client
            $("#SliceAmount").blur(function () {
                OnSliceAmountChanged();
            });
            //action kd la caisse saisi le montant du avancé par le client
            $("#SliceAmount").keyup(function () {
                var TotalPriceTTC = $('#LineUnitPrice').val().trim();
                var SliceAmount = $('#SliceAmount').val().trim();
                var remaingAmount = parseInt(TotalPriceTTC) - parseInt(SliceAmount);
                $('#RemaingAmount').val(remaingAmount);
            });

            $('#btnCancel').on('click', function () {
                location.reload(true);
            });
            $('#btnSubmit').on('click', function () {
                ValideCommande();
            });
        });

        function IsDigitalPaymentValid() {
            var BuyType = $("#BuyType").val();
            var digitalPaymentCode = $("#digitalPaymentCode").val();

            if (BuyType != digitalPaymentCode)
                return true;

            // verification proprement dite commence ici
            var res = true;
            if ($('#DigitalPaymentMethodID').val().trim() == 0) {
                $("#DigitalPaymentMethodID").addClass("invalid-data");
                res = false;
            }
            else {
                $("#DigitalPaymentMethodID").addClass("valid-data");
            }

            if ($('#TransactionIdentifier').val().trim() == "") {
                $("#TransactionIdentifier").addClass("invalid-data");
                res = false;
            }
            else {
                $("#TransactionIdentifier").addClass("valid-data");
            }

            return res;
        }

        function IsBankValid() {
            var BuyType = $("#BuyType").val();
            var banCode = $("#banCode").val();

            if (BuyType != banCode)
                return true;

            var res = true;
            // verification proprement dite commence ici
            if ($('#PaymentMethodID').val().trim() == 0) {
                $("#PaymentMethodID").addClass("invalid-data");
                res = false;
            }
            else {
                $("#PaymentMethodID").addClass("valid-data");
            }

            return res;

        }

        //validation d'une commande
        function ValideCommande() {

            var isAllValid = true;
            var d = new Date();
            var hourPayment = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
            $('#heureVente').val(hourPayment);

            if ($('#heureVente').val().trim() == '') {
                isAllValid = false;
            }

            //entete
            if ($('#MedecinTraitant').val().trim() == '') {
                isAllValid = false;
                $("#MedecinTraitant").addClass("invalid-data");
            }
            else {
                $("#MedecinTraitant").addClass("valid-data");
            }

            if ($('#CustomerNumber').val().trim() == '') {
                isAllValid = false;
                $("#CustomerNumber").addClass("invalid-data");
            }
            else {
                $("#CustomerNumber").addClass("valid-data");
            }

            if ($('#SalesProductsType').val() == "0") {
                isAllValid = false;
                $("#SalesProductsType").addClass("invalid-data");
            }
            else {
                $("#SalesProductsType").addClass("valid-data");
            }
            if ($('#CustomerName').val() == '') {
                isAllValid = false;
                $("#CustomerName").addClass("invalid-data");
            }
            else {
                $("#CustomerName").addClass("valid-data");
            }

            if ($('#SaleDate').val() == '') {
                isAllValid = false;
                $("#SaleDate").addClass("invalid-data");
            }
            else {
                $("#SaleDate").addClass("valid-data");
            }

            if ($('#LocalizationID').val() == "0") {
                isAllValid = false;
                $("#LocalizationID").addClass("invalid-data");
            }
            else {
                $("#LocalizationID").addClass("valid-data");
            }
            if ($('#AuthoriseSaleID').val() == "0") {
                isAllValid = false;
                alert("Please select Transaction before proceed");
                $("#AuthoriseSaleID").addClass("invalid-data");
            }
            else {
                $("#AuthoriseSaleID").addClass("valid-data");
            }

            //si le cadre n'est pas clique
            if ($('#ProductID').val() == "0" || $('#ProductID').val() == '') { //cadre
                //on verifi si le verre est choisi
                if ($('#LensCategoryCode').val() == "0") {
                    isAllValid = false;
                    $("#LensCategoryCode").addClass("invalid-data");
                    $("#ProductID").addClass("invalid-data");
                }
                else { //si le verre est choisi -> saisi seulement du verre
                    $("#LensCategoryCode").addClass("valid-data");
                    if (parseFloat($('#LensPrice').val()) <= 0) {
                        isAllValid = false;
                        $("#LensPrice").addClass("invalid-data");
                    }
                    else {
                        $("#LensPrice").addClass("valid-data");
                    }
                    //on verrifi les caracterisque du verre
                    //verification de l'addition
                    var TypeLens = $('#TypeLens').val();
                    if (TypeLens != "SV") {
                        var RESphere = $('#RESphere').val();
                        var RECylinder = $('#RECylinder').val();
                        var REAddition = $('#REAddition').val();
                        if ((RESphere != null && RESphere.length >= 4) || (RECylinder != null && RECylinder.length >= 4)) {
                            if ($('#REAddition').val().trim() == '') {
                                isAllValid = false;
                                $("#REAddition").addClass("invalid-data");
                            }
                            else {
                                $("#REAddition").addClass("valid-data");
                            }
                        }
                        var LESphere = $('#LESphere').val();
                        var LECylinder = $('#LECylinder').val();
                        if ((LESphere != null && LESphere.length >= 4) || (LECylinder != null && LECylinder.length >= 4)) {
                            if ($('#LEAddition').val().trim() == '') {
                                isAllValid = false;
                                $("#LEAddition").addClass("invalid-data");
                            }
                            else {
                                $("#LEAddition").addClass("valid-data");
                            }
                        }
                    }


                }
            }
            else { //si le cadre est choisi
                if ($('#marque').val().trim() == '') {
                    isAllValid = false;
                    $("#marque").addClass("invalid-data");
                }
                else {
                    $("#marque").addClass("valid-data");
                }
                if ($('#NumeroSerie').val().trim() == '') {
                    isAllValid = false;
                    $("#NumeroSerie").addClass("invalid-data");
                }
                else {
                    $("#NumeroSerie").addClass("valid-data");
                }

                if ($('#FrameLineQuantity').val().trim() == '') {
                    isAllValid = false;
                    $("#FrameLineQuantity").addClass("invalid-data");
                }
                else {
                    $("#FrameLineQuantity").addClass("valid-data");
                }

                // si le verre n'est pas choisi
                if ($('#LensCategoryCode').val() == "0") {
                    isAllValid = true;
                    $("#LensCategoryCode").addClass("valid-data");
                    $("#ProductID").addClass("valid-data");
                }
                else { //si le verre est choisi -> saisi seulement du verre
                    $("#LensCategoryCode").addClass("valid-data");
                    //on verrifi les caracterisque du verre
                    if (parseFloat($('#LensPrice').val()) <= 0) {
                        isAllValid = false;
                        $("#LensPrice").addClass("invalid-data");
                    }
                    else {
                        $("#LensPrice").addClass("valid-data");
                    }
                    //verification de l'addition
                    var TypeLens = $('#TypeLens').val();
                    if (TypeLens != "SV") {
                        var RESphere = $('#RESphere').val();
                        var RECylinder = $('#RECylinder').val();
                        var REAddition = $('#REAddition').val();
                        if ((RESphere != null && RESphere.length >= 4) || (RECylinder != null && RECylinder.length >= 4)) {
                            if ($('#REAddition').val().trim() == '') {
                                isAllValid = false;
                                $("#REAddition").addClass("invalid-data");
                            }
                            else {
                                $("#REAddition").addClass("valid-data");
                            }
                        }
                        var LESphere = $('#LESphere').val();
                        var LECylinder = $('#LECylinder').val();
                        if ((LESphere != null && LESphere.length >= 4) || (LECylinder != null && LECylinder.length >= 4)) {
                            if ($('#LEAddition').val().trim() == '') {
                                isAllValid = false;
                                $("#LEAddition").addClass("invalid-data");
                            }
                            else {
                                $("#LEAddition").addClass("valid-data");
                            }
                        }
                    }
                }
            }


            //footer

            if ($('#BuyType').val() == 0) {
                isAllValid = false;
                $("#BuyType").addClass("invalid-data");
            }
            else {
                $("#BuyType").addClass("valid-data");
            }

            if (parseFloat($('#LineUnitPrice').val()) <= 0) {
                isAllValid = false;
                $("#LineUnitPrice").addClass("invalid-data");
            }
            else {
                $("#LineUnitPrice").addClass("valid-data");
            }


            if ($('#DeviseID').val().trim() == '') {
                isAllValid = false;
                $("#DeviseID").addClass("invalid-data");
            }
            else {
                $("#DeviseID").addClass("valid-data");
            }

            if ($('#BranchID').val().trim() == '') {
                isAllValid = false;
                $("#BranchID").addClass("invalid-data");
            }
            else {
                $("#BranchID").addClass("valid-data");
            }


            if (parseFloat($('#SliceAmount').val()) <= 0) {
                isAllValid = false;
                $("#SliceAmount").addClass("invalid-data");
            }
            else {
                $("#SliceAmount").addClass("valid-data");
            }

            //si verre de commande alors rdv
            if ($('#isRCommandGlass').val().trim() == "True" || $('#isLCommandGlass').val().trim() == "True") {
                if ($('#DateRdv').val().trim() == '') {
                    isAllValid = false;
                    $("#DateRdv").addClass("invalid-data");
                }
                else {
                    $("#DateRdv").addClass("valid-data");
                }
            }

            isAllValid = !isAllValid ? false : IsDigitalPaymentValid();

            // Sans ce test, IsBankValid peut retourner true et annuler le resultat de IsDigitalPaymentValid quand il est false
            isAllValid = !isAllValid ? false : IsBankValid();

            var buyType = $('#BuyType').val();
            var banCode = $('#banCode').val();
            var PaymentMethodID = $('#PaymentMethodID').val();
            var DigitalPaymentMethodID = $('#DigitalPaymentMethodID').val();

            if (isAllValid) {


                var data = {
                    heureVente: $('#heureVente').val().trim(),
                    BuyType: $('#BuyType').val(),
                    PaymentMethodID: (buyType == banCode) ? PaymentMethodID : DigitalPaymentMethodID ,
                    SaleDate: $('#SaleDate').val(),
                    CustomerNumber: $('#CustomerNumber').val().trim(),
                    DateRdv: $('#DateRdv').val(),
                    Remarque: $('#Remarque').val().trim(),
                    MedecinTraitant: $('#MedecinTraitant').val().trim(),
                    CustomerName: $('#CustomerName').val(),
                    CustomerID: $('#CustomerID').val(),
                    DeviseID: $('#DeviseID').val(),
                    BranchID: $('#BranchID').val(),
                    SalesProductsType: $.trim($('#SalesProductsType').val()),
                    LocalizationID: $.trim($('#LocalizationID').val()),
                    //SaleDeliver: $('input[name=SaleDeliver]:checked').val(),
                    SaleID: $("#SaleID").val(),
                    AuthoriseSaleID: $("#AuthoriseSaleID").val(),

                    //frame details
                    FrameLineQuantity: $.trim($('#FrameLineQuantity').val()),
                    FramePrice: $.trim($('#FramePrice').val()),
                    FrameProductID: $('#ProductID').val(),
                    marque: $('#marque').val(),
                    reference: $('#reference').val(),
                    SaleReceiptNumber: $('#SaleReceiptNumber').val(),
                    NumeroSerie: $('#NumeroSerie').val(),
                    FRLineID: $('#FRLineID').val(),
                    //lens details
                    LensCategoryCode: $.trim($('#LensCategoryCode').val()),
                    ProductCategoryID: $("#ProductCategoryID").val(),
                    SupplyingName: $.trim($('#SupplyingName').val()),
                    LEAddition: $.trim($('#LEAddition').val()),
                    LEAxis: $.trim($('#LEAxis').val()),
                    LEIndex: $.trim($('#LEIndex').val()),
                    LECylinder: $.trim($('#LECylinder').val()),
                    LESphere: $.trim($('#LESphere').val()),
                    LELineID: $('#LELineID').val(),
                    isLCommandGlass: $('#isLCommandGlass').val(),

                    REAddition: $.trim($('#REAddition').val()),
                    REAxis: $.trim($('#REAxis').val()),
                    REIndex: $.trim($('#REIndex').val()),
                    RECylinder: $.trim($('#RECylinder').val()),
                    RESphere: $.trim($('#RESphere').val()),
                    RELineID: $('#RELineID').val(),
                    isRCommandGlass: $('#isRCommandGlass').val(),

                    LensLineQuantity: $.trim($('#LensLineQuantity').val()),
                    LensPrice: $.trim($('#LensPrice').val()),
                    //price detail
                    TotalPriceTTC: $.trim($('#LineUnitPrice').val()),
                    SliceAmount: $.trim($('#SliceAmount').val()),
                    //
                    spray: $('#spray').val(),
                    boitier: $('#boitier').val(),
                    PostByID: $('#PostByID').val(),
                    SellerID: $('#SellerID').val(),
                    PaymentReference: $('#TransactionIdentifier').val(),
                }

                console.log("AddSale => ", data);

                $(this).val('Please wait...');
                $('#btnSubmit').prop('disabled', true);
                //post data to server
                $.ajax({
                    url: '@Url.Action("AddSale", "ValidatedSale")',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        //check is successfully save to database
                        if (d.status == true) {
                            //will send status from server side
                            alert(d.Message);
                            //location.reload(true);
                            ClearForm();
                            //enablebutton();*/
                            RefreshGrid();
                        }
                        else {
                            alert(d.Message);
                            disablebutton();
                            $('#btnSubmit').prop('disabled', false);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Error. Please refresh and try again.');
                        console.error("xhr", xhr);
                        console.error("ajaxOptions", ajaxOptions);
                        console.error("thrownError", thrownError);
                        disablebutton();
                        $('#btnSubmit').prop('disabled', false);
                    }
                });
            }

        }


        function InitialiseFooter() {
            $("#BuyType").val(0);
            onBuyTypeChanged();
            $('#NonLivre').prop('checked', true);
        }
        function ClearForm() {
            InitialiseHeader();
            InitialiseFrame();
            productitems();
            InitialiseFooter();
            $('#btnSubmit').prop('disabled', false);
        }
        function InitialiseHeader() {
            //header
            $("#SaleID").val('');

            $("#AuthoriseSaleID").val('');
            $('#Customer').val('');
            $('#CustomerName').val('');
            $('#CustomerID').val('');
            $('#Remarque').val('');
            $('#MedecinTraitant').val('');
            $('#CustomerNumber').val('');

            $('#DateRdv').val('');

            //amount detail
            $('#LineUnitPrice').val('0');
            $('#SliceAmount').val('0');
            $('#RemaingAmount').val('0');

        }
        function InitialiseFrame() {
            $('#FrameLineQuantity').val('');
            $('#FramePrice').val('');
            $('#ProductID').val('');
            $('#marque').val('');
            $('#NumeroSerie').val('');
            $('#ProductName').val('');
            $('#StockQuantity').val('');

            $('#reference').val('');

        }
        function productitems() {
            $('#LensLineQuantity').val('0');
            $('#LensPrice').val('0');
            $('#LensCategoryCode').val('0');
            $('#ProductCategoryID').val('0');
            $('#SupplyingName').val('');
            InitRE();
            InitLE();
        }
        function InitRE() {
            //set values
            $('#REAddition').val('');
            $('#REAxis').val('');
            $('#REIndex').val('');
            $('#RECylinder').val('');
            $('#RESphere').val('');

        }
        function InitLE() {
            //set values
            $('#LEAddition').val('');
            $('#LEAxis').val('');
            $('#LEIndex').val('');
            $('#LECylinder').val('');
            $('#LESphere').val('');
        }
        function UpdateItem(obj) {
            var globalID = obj;
            ClearForm();
            $.get('@Url.Action("InitializeCommandFields", "ValidatedSale")', { ID: parseInt(globalID) }, function (data) {
                $.each(data, function (key, value) {

                    $('#AuthoriseSaleID').val(value.AuthoriseSaleID);
                    $('#CustomerName').val(value.CustomerName);
                    $('#CustomerID').val(value.CustomerID);
                    $('#Remarque').val(value.Remarque);
                    $('#MedecinTraitant').val(value.MedecinTraitant);
                    $('#CustomerNumber').val(value.CustomerNumber);
                    $('#DateRdv').val(value.DateRdv);

                    //$('#spray').value(value.spray);
                    //if (value.spray == 1) $('#spray').prop('checked', true);
                    //else $('#spray').prop('checked', false);
                    //$('#boitier').value(value.boitier);
                    //if (value.boitier == 1) $('#boitier').prop('checked', true);
                    //else $('#boitier').prop('checked', false);
                    $('#BranchID').val(value.BranchID);
                    $('#ProductName').val(value.ProductName);
                    $('#ProductID').val(value.ProductID);

                    $('#LocalizationID').val(value.LocalizationID);
                    $('#SalesProductsType').val(value.SalesProductsType);

                    $('#StockQuantity').val(value.StockQuantity);
                    $('#marque').val(value.marque);
                    $('#NumeroSerie').val(value.NumeroSerie);
                    $('#reference').val(value.reference);
                    $('#SaleReceiptNumber').val(value.reference);

                    $('#FramePrice').val(value.FramePrice);
                    $('#FrameLineQuantity').val(value.FrameLineQuantity);

                    $('#LensCategoryCode').val(value.LensCategoryCode);
                    $('#ProductCategoryID').val(value.ProductCategoryID);
                    $('#SupplyingName').val(value.SupplyingName);
                    $('#RESphere').val(value.RESphere);
                    $('#RECylinder').val(value.RECylinder);
                    $('#REAxis').val(value.REAxis);
                    $('#REAddition').val(value.REAddition);
                    $('#isRCommandGlass').val(value.isRCommandGlass);

                    $('#LESphere').val(value.LESphere);
                    $('#LECylinder').val(value.LECylinder);
                    $('#LEAxis').val(value.LEAxis);
                    $('#LEAddition').val(value.LEAddition);
                    $('#isLCommandGlass').val(value.isLCommandGlass);

                    $('#LensPrice').val(value.LensPrice);
                    $('#LensLineQuantity').val(value.LensLineQuantity);
                    $('#LineUnitPrice').val(value.LineUnitPrice);

                    $('#SaleReceiptNumber').val(value.SaleReceiptNumber);
                    $('#SaleDate').val(value.SaleDate);
                    //$('#SaleDeliveryDate').val(value.SaleDeliveryDate);
                    $('#TypeLens').val(value.TypeLens);

                    $('#PostByID').val(value.PostByID);
                    $('#SellerID').val(value.SellerID);
                    $('#BuyType').val(0);
                    onBuyTypeChanged();
                });
            }, 'json');

            disablebutton();

        }
        function initCheckBox() {
            $('input[id="spray"]').prop('value', 0);
            $('input[id="spray"]').prop('checked', false)
            $('input[id="boitier"]').prop('value', 0);
            $('input[id="boitier"]').prop('checked', false)
        }
        function CheckSprayClick() {

            if ($('input[id="spray"]').prop('checked')) {
                $('input[id="spray"]').prop('value', 1);
            }
            else {
                $('input[id="spray"]').prop('value', 0);
            }
        };
        function CheckboitierClick() {

            if ($('input[id="boitier"]').prop('checked')) {
                $('input[id="boitier"]').prop('value', 1);
            }
            else {
                $('input[id="boitier"]').prop('value', 0);
            }
        };
    </script>
