@using FatSod.Ressources;

@{
    ViewBag.Title = @Resources.ListOfGift;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var profile = (Session["UserProfile"] == null) ? 0 : (int)Session["UserProfile"];
    var user = (Session["UserID"] == null) ? 0 : (int)Session["UserID"];
    var db = new FatSod.DataContext.Concrete.EFDbContext();
}

@if (TempData["Message"] != null)
{
    @Html.Raw(TempData["Message"])
}

<h4>@Resources.ListOfGift</h4>
<div class="box box-primary box-body" id="SaleValideForm">
    <div class="row">
        <fieldset class="col-md-12">
            <input class="form-control input-sm" id="DisplayForm" type="hidden" value="@ViewBag.DisplayForm">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="row ipt">
                            <!-- Branche -->
                            <div class="col-sm-3" style="margin-left:50px;">@Resources.Branches</div>
                            <div class="col-sm-3" style="margin-left:-100px;">
                                <input type="hidden" id="DefaultBranchID" value="@ViewBag.CurrentBranch" />
                                <select id="BranchID" class="input-sm form-control"></select>
                            </div>
                        </div>
                        <div class="row ipt">
                            <div class="col-sm-3" style="margin-left:50px;">@Resources.UIBeginDate</div>
                            <div class="col-sm-3" style="margin-left:-100px;">
                                <input class="form-control datepicker" id="BeginDate" type="text" placeholder="choose Begin date" value="@ViewBag.BusnessDayDate">
                            </div>
                            <div class="col-sm-3">@Resources.UIEndDate</div>
                            <div class="col-sm-3" style="margin-left:-100px;">
                                <input class="form-control datepicker checkDateNoGraterThanToday" id="EndDate" type="text" placeholder="choose End date">
                            </div>
                        </div>
                        <div class="row ipt">
                            <div class="col-sm-2" style="margin-left:20px;margin-top:10px;">
                                <button id="btnSave" class="btn btn-primary">@Resources.UIDisplayEntries</button>
                            </div>

                            <div class="col-sm-2" style="margin-left:-20px;margin-top:20px;">Total Gift</div>
                            <div class="col-sm-2" style="margin-left:-40px;margin-top:10px;">
                                <input class="form-control" id="TotalDebit" type="text" readonly />
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </fieldset>
    </div>
    <div class="row">
    </div>

    <div class="row">
        <div class="panel-body2">
            <table class="table" id="mainTable">
                <thead>
                    <tr class="dataTableHead">
                        <th>ID</th>
                        <th>@Resources.Reference</th>
                        <th>@Resources.UIDateOperation</th>
                        <th>@Resources.Reason</th>
                        <th>@Resources.Quantity</th>
                        <th>@Resources.UPrice</th>
                        <th>@Resources.TotalAmount</th>
                        <th>@Resources.Product</th>
                        <th>@Resources.AutorizedBy</th>
                        <th>@Resources.ValidateBy</th>
                    </tr>
                </thead>

            </table>

        </div>


    </div>
</div>

<!-- Css Begins Here -->

<style>
    .invalid-data {
        border: 1px solid red;
    }

    .valid-data {
        border: 1px solid #ccc;
    }

    .ipt {
        margin-bottom: 6px;
    }

    #img-upload {
        width: 100%;
    }

    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    #after_manual_posting_yes {
        margin-right: 15px;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin-left: 10px;
        min-width: 0;
        padding: 0px;
        position: relative;
        border-radius: 4px;
        background-color: #99bce8;
        padding-left: 10px !important;
    }

    .panel-body {
        height: 85px;
    }

    .panel-body1 {
        height: 100px;
        margin-top: 5px;
        /*margin-left: 15%;*/
    }

    .panel-body2 {
        height: 215px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .panel-body3 {
        height: 75px;
        margin-top: 5px;
        /*margin-left: 15%;*/
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 70%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>

<!--********** JavaScripts **********-->
<script>

    // Get the Branch List
    function populateBranch() {
        $.get('@Url.Action("GetOpenedBranches", "ListOfGift")', {}, function (data) {
            $('#BranchID').empty();
            $('#BranchID').append($("<option value='0'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#BranchID').append($("<option></option>").val(value.BranchID).html(value.BranchName));
            });
            var _DefaultId = $('#DefaultBranchID').val();
            $('#BranchID').val(_DefaultId);

        }, 'json');
    }

    //chargement du tableau apres le click sur le bouton afficher
    function LoadGrid(test, BranchID,  Begindate, EndDate) {
        if (test) {
            $('#mainTable').dataTable().fnDestroy();
        }
        var oTable = $('#mainTable');
        oTable = $('#mainTable').dataTable({
            fixedColumns: true,
            "paging": true,
            "pageLength": 20,
            "lengthMenu": [[20, 40, 60, -1], [20, 40, 60, "All"]],
            "searching": true,
            "ordering": true,
            "pagingType": "full_numbers",

            "order": [[0, 'asc']],
            // Ajax call
            "ajax": {
                "url": "@Url.Action("ModelProductGift", "ListOfGift")",
                "type": "GET",
                "datatype": "json",
                "data": { BranchID: BranchID, Bdate: Begindate, Edate: EndDate }
            },
            "columns": [
                { "data": "RptReturnSaleID", "width": "1%" },
                { "data": "CodeClient", "width": "10%" },
                { "data": "CustomerReturnDate", "width": "10%" },
                { "data": "CustomerReturnCauses", "width": "20%" },
                { "data": "LineQuantity", "width": "9%" },
                { "data": "LineAmount", "width": "9%" },
                { "data": "ReturnAmount", "width": "9%" },
                { "data": "ProductCode", "width": "22%" },
                { "data": "AuthoriseBy", "width": "10%" },
                { "data": "ValidatedBy", "width": "10%" },
            ],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel'
            ]

        });

    }

    function InitTotaux() {
        $('#TotalDebit').val('0');
    }
    //chargement des elemts de totaux apres le click sur afficher
    function loadTotaux(BranchID, Begindate, EndDate) {
        //chargement detail
        $.get('@Url.Action("chargeSolde", "ListOfGift")', { BranchID: BranchID, Bdate: Begindate, Edate: EndDate}, function (data) {
            $.each(data, function (key, value) {
                $('#TotalDebit').val(value.TotalDebit);
            });
        }, 'json');
        $("#CustomerID").val('');
    }

    $(document).on('ready', function () {
        if ($('#DisplayForm').val().trim() == 0) {
            $("#SaleValideForm").hide();
        }
        else {
            $("#SaleValideForm").show();
        }

        $(function () {
            $(".datepicker").datepicker({
                format: 'yyyy-mm-dd'
            });
        });
        populateBranch();

        var BranchID = '0';
        var BeginDate = '1900-01-01';
        var EndDate = '1900-01-01';
        LoadGrid(false, BranchID, BeginDate, EndDate);
        $("#btnSave").on('click', function () {
            BranchID = $("#BranchID").val();
            BeginDate = $("#BeginDate").val();
            EndDate = $("#EndDate").val();
            LoadGrid(true, BranchID, BeginDate, EndDate);
            loadTotaux(BranchID, BeginDate, EndDate);
        });


    });
</script>
