@using FatSod.Ressources;
@using FatSod.DataContext.Initializer;
@using CABOPMANAGEMENT.Tools;

@model IEnumerable<FatSod.Supply.Entities.StockReplacement>
@{
    ViewBag.Title = Resources.StockReplacement;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var profile = (Session["UserProfile"] == null) ? 0 : (int)Session["UserProfile"];
    var user = (Session["UserID"] == null) ? 0 : (int)Session["UserID"];

    var db = new FatSod.DataContext.Concrete.EFDbContext();

}
<div class="box box-primary box-body">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <div class="panel panel-default">
                    <div class="panel-body1">
                        <div class="row ipt" style="margin-top:10px;">
                            <input type="hidden" id="StockReplacementID" />
                            <input type="hidden" id="DateOpe" value="@ViewBag.BusnessDayDate" />
                            <input type="hidden" id="ProductLocalizationID" />

                            <div class="col-sm-2">@Resources.Branches<code>(*)</code></div>
                            <div class="col-sm-3" style="margin-left:-50px;">
                                <input type="hidden" id="DefaultBranchID" value="@ViewBag.CurrentBranch" />
                                <select id="BranchID" class="form-control"></select>
                            </div>

                        </div>
                        <div class="row ipt" style="margin-top:10px;">
                            <div class="col-sm-2">@Resources.UIDateOperation</div>
                            <div class="col-sm-2" style="margin-left:-50px;">
                                <input type="text" id="StockReplacementDate" class="input-sm form-control" readonly />
                            </div>
                            <div class="col-sm-2">@Resources.Reference</div>
                            <div class="col-sm-2" style="margin-left:-50px;">
                                <input class="form-control input-sm" id="StockReplacementReference" type="text" readonly>
                            </div>
                            <div class="col-sm-2">@Resources.AutorizedBy</div>
                            <div class="col-sm-3" style="margin-left:-50px;">
                                <select class="form-control input-sm" id="AutorizedByID"></select>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="margin-top:-20px;">
            <fieldset>
                <legend>@Resources.addCmdLine</legend>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row ipt">
                            <input type="hidden" id="IsCadyEmpty" value="1" />
                            <input type="hidden" id="TMPID" value="0" />
                            <input type="hidden" id="StockReplacementLineID" />

                            <input type="hidden" id="LensCategory" />



                            <div class="col-sm-4">@Resources.Localization<code>(*)</code></div>
                            <div class="row">
                                <div class="col-sm-6" style="margin-left:-25px;">
                                    <select id="LocalizationID" class="input-sm form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row ipt">
                            <div class="col-sm-4">@Resources.Categories</div>
                            <div class="row">
                                <div class="col-sm-6" style="margin-left:-25px;">
                                    <select id="ProductCategory" class="input-sm form-control"></select>
                                </div>
                            </div>
                        </div>
                        <!--////////////damage box ////////////////-->
                        <div class="row ipt1 panel panel-default" id="DamageBox">
                            <div class="row ipt" id="NumeroVerreDamage">
                                <div class="col-sm-4">@Resources.SelectNumberDamage</div>
                                <div class="row">
                                    <div class="col-sm-7" style="margin-left:-25px;">
                                        <input class="form-control" id="ProductNumberDamage" type="text">
                                        <input class="form-control" id="ProductNumberIDDamage" type="hidden">
                                    </div>
                                </div>
                            </div>

                            <div id="displaynumeroserieDamage">
                                <div class="row ipt">
                                    <div class="col-sm-4">@Resources.NumeroSerieDamage<code>(*)</code></div>
                                    <div class="row">
                                        <div class="col-sm-7" style="margin-left:-25px;">
                                            <input type="text" id="referenceNameDamage" placeholder="@Resources.Select" class="input-sm form-control">
                                            <input type="hidden" id="NumeroSerieDamage" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row ipt">
                                    <div class="col-sm-4">@Resources.MarqueDamage<code>(*)</code></div>
                                    <div class="row">
                                        <div class="col-sm-7" style="margin-left:-25px;">
                                            <input type="text" id="MarqueDamage" class="input-sm form-control" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ProductCodeFieldDamage">
                                <div class="row ipt">
                                    <div class="col-sm-4">@Resources.ProductlabelDamage <code>(*)</code></div>
                                    <div class="row">
                                        <div class="col-sm-7" style="margin-left:-25px;">
                                            <input type="hidden" id="ProductID1Damage" class="input-sm form-control" />
                                            <input type="text" id="ProductCodeDamage" class="input-sm form-control" style="width:150%" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="displayotherProductDamage">
                                <div class="row ipt">
                                    <div class="col-sm-4">@Resources.ProductlabelDamage<code>(*)</code></div>
                                    <div class="row">
                                        <div class="col-sm-7" style="margin-left:-25px;">
                                            <select id="ProductIDDamage" class="input-sm form-control"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--///////////////////////////////////////////-->
                        <div class="row ipt" id="NumeroVerre">
                            <div class="col-sm-4">@Resources.SelectNumber</div>
                            <div class="row">
                                <div class="col-sm-7" style="margin-left:-25px;">
                                    <input class="form-control" id="ProductNumber" type="text">
                                    <input class="form-control" id="ProductNumberID" type="hidden">
                                </div>
                            </div>
                        </div>

                        <div id="displaynumeroserie">
                            <div class="row ipt">
                                <div class="col-sm-4">@Resources.NumeroSerie<code>(*)</code></div>
                                <div class="row">
                                    <div class="col-sm-7" style="margin-left:-25px;">
                                        <input type="text" id="referenceName" placeholder="@Resources.Select" class="input-sm form-control">
                                        <input type="hidden" id="NumeroSerie" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row ipt">
                                <div class="col-sm-4">@Resources.Marque<code>(*)</code></div>
                                <div class="row">
                                    <div class="col-sm-7" style="margin-left:-25px;">
                                        <input type="text" id="Marque" class="input-sm form-control" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ProductCodeField">
                            <div class="row ipt">
                                <div class="col-sm-4">@Resources.Productlabel <code>(*)</code></div>
                                <div class="row">
                                    <div class="col-sm-7" style="margin-left:-25px;">
                                        <input type="hidden" id="ProductID1" class="input-sm form-control" />
                                        <input type="text" id="ProductCode" class="input-sm form-control" style="width:150%" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="displayotherProduct">
                            <div class="row ipt">
                                <div class="col-sm-4">@Resources.Productlabel<code>(*)</code></div>
                                <div class="row">
                                    <div class="col-sm-7" style="margin-left:-25px;">
                                        <select id="ProductID" class="input-sm form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row ipt">
                            <div class="col-sm-4">@Resources.StockQuantity <code>*</code></div>
                            <div class="row">
                                <div class="col-sm-3" style="margin-left:-25px;">
                                    <input class="form-control input-sm" id="StockQuantity" type="number" ReadOnly />
                                </div>
                            </div>
                        </div>
                        <div class="row ipt">
                            <div class="col-sm-4">@Resources.Quantity <code>*</code></div>
                            <div class="row">
                                <div class="col-sm-3" style="margin-left:-25px;">
                                    <input type="number" min="1" id="LineQuantity" class="input-sm form-control NumbersAndDecimal" />
                                </div>
                            </div>
                        </div>

                        <div class="row ipt">
                            <div class="col-sm-4">@Resources.SaleAmount <code>*</code></div>
                            <div class="row">
                                <div class="col-sm-4" style="margin-left:-25px;">
                                    <input type="number" id="LineUnitPrice" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row ipt">
                            <div class="col-sm-4">@Resources.Reason <code>(*)</code></div>
                            <div class="row">
                                <div class="col-sm-8" style="margin-left:-25px;">
                                    <textarea id="StockReplacementReason" class="input-sm form-control"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row" style="margin-top:-5px;margin-left:25px;">
                    <div class="col-sm-4" style="margin-right:15px;">
                        <button type="submit" class="btn btn-primary" id="AddToGrid">@Resources.addCmdLine</button>
                    </div>
                    <div class="col-sm-2" style="margin-left:35px;">
                        <button type="button" id="btnCancelGrid" class="btn btn-primary">@Resources.ResetButton</button>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-6" style="margin-top:-10px;">
            <fieldset>
                <legend>@Resources.CadyContent</legend>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table" id="CommandLinesGrid">
                            <thead>
                                <tr class="dataTableHead">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        @Resources.Designation
                                    </th>
                                    <th>
                                        @Resources.Reason
                                    </th>
                                    <th>
                                        @Resources.Reference
                                    </th>
                                    <th>
                                        @Resources.Quantity
                                    </th>
                                    <th>
                                        @Resources.Amount
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
        <br />
        <!-- Save and Reset Buttons -->
        <div class="row">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary btn-success" id="btnSubmit">@Resources.SaveButton</button>
            </div>
            <div class="col-sm-2">
                <button type="button" id="btnCancel" class="btn btn-primary btn-danger">@Resources.ResetButton</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                @*<legend>@Resources.inventoryDirectoryList</legend>*@
                <div class="row ipt">
                    <div class="col-sm-2">@Resources.UIDateOperation</div>
                    <div class="col-sm-3">
                        <input class="form-control datepicker checkDateNoGraterThanToday" id="DateOperation" type="text" placeholder="choose Transfert date" value="@ViewBag.BusnessDayDate">
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table" id="mainTable">
                            <thead>
                                <tr class="dataTableHead">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        @Resources.Reference
                                    </th>
                                    <th>
                                        @Resources.UIDateOperation
                                    </th>
                                    <th>
                                        @Resources.Branches
                                    </th>
                                    <th>
                                        @Resources.AutorizedBy
                                    </th>
                                    <th>
                                        @Resources.RegisteredBy
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<!--css detail-->
<style>
    .invalid-data {
        border: 1px solid red;
    }

    .valid-data {
        border: 1px solid #ccc;
    }

    .ipt {
        margin-bottom: 1px;
        margin-top: 1px;
    }
    .ipt1 {
        margin-bottom: 4px;
        margin-top: 4px;
        margin-left:1px;
    }
    #img-upload {
        width: 100%;
    }

    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    #after_manual_posting_yes {
        margin-right: 15px;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        min-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #99bce8;
        padding-left: 10px !important;
    }

    .panel-body {
        height: 380px;
        margin-bottom:5px;
    }

    .panel-body1 {
        height: 80px;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 70%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>

<!--********** JavaScripts **********-->
<script>

    function hideProductLabel()
    {
        $('#displayotherProduct').hide();
        $('#displayotherProductDamage').hide();
        $('#displaynumeroserie').show();
        $('#displaynumeroserieDamage').show();
    }
    function showProductLabel() {
        $('#displayotherProduct').show();
        $('#displayotherProductDamage').show();
        $('#displaynumeroserie').hide();
        $('#displaynumeroserieDamage').hide();
    }


    function hideOtherProductLabel() {
        $('#displaynumeroserie').hide();
        $('#displaynumeroserieDamage').hide();
        $('#ProductCodeField').show();
        $('#ProductCodeFieldDamage').show();
        $('#displayotherProduct').hide();
        $('#displayotherProductDamage').hide();
    }
    function showOtherProductLabel() {
        $('#displaynumeroserie').show();
        $('#displaynumeroserieDamage').show();
        $('#ProductCodeField').hide();
        $('#ProductCodeFieldDamage').hide();
        $('#displayotherProduct').show();
        $('#displayotherProductDamage').show();
    }

    function showProductCodeField() {
        $('#ProductCodeField').show();
        $('#ProductCodeFieldDamage').show();
    }
    function hideProductCodeField() {
        $('#ProductCodeField').hide();
        $('#ProductCodeFieldDamage').hide();
    }

    function hideNumeroVerre() {
        $('#NumeroVerre').hide();
        $('#NumeroVerreDamage').hide();
    }
    function showNumeroVerre() {
        $('#NumeroVerre').show();
        $('#NumeroVerreDamage').show();
    }

    // Get the user List
    function populateUsers() {
        $.get('@Url.Action("populateUsers", "StockReplacement")', {}, function (data) {
            $('#AutorizedByID').empty();
            $('#AutorizedByID').append($("<option value='0'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#AutorizedByID').append($("<option></option>").val(value.GlobalPersonID).html(value.UserFullName));
            });
        }, 'json');
    }


    // Get the Branch List
    function populateBranch() {
        $.get('@Url.Action("OpenedBusday", "StockReplacement")', {}, function (data) {
            $('#BranchID').empty();
            $('#BranchID').append($("<option value='0'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#BranchID').append($("<option></option>").val(value.BranchID).html(value.BranchName));
            });

        }, 'json');
    }

    function InitDate(Branch)
    {
        $.get('@Url.Action("InitTrnNumber", "StockReplacement")', { BranchID: Branch }, function (data) {
            $('#StockReplacementReference').empty();
            $('#RegisteredByID').empty();
            $('#StockReplacementDate').empty();
            $.each(data, function (key, value) {
                $('#StockReplacementReference').val(value.StockReplacementReference);
                $('#RegisteredByID').val(value.RegisteredByID);
                $('#StockReplacementDate').val(value.StockReplacementDate);
            });
            //chargement des numero
            loadSerialNumber();
            loadSerialNumberDamage();
        }, 'json');
    }


    // Get the Magasin List
    function populateStockedLocations() {
        $.get('@Url.Action("GetAllStockedLocations", "StockReplacement")', {}, function (data) {
            $('#LocalizationID').empty();
            $('#LocalizationID').append($("<option value='0' selected='selected'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#LocalizationID').append($("<option></option>").val(value.LocalizationID).html(value.LocalizationCode));
            });
        }, 'json');
    }

    @*//chargement des prix des equipements
    function GetProductLabel(CurrentProduct)
    {
        $.get('@Url.Action("GetProductLabel", "StockReplacement")', {CurrentProduct: CurrentProduct }, function (data) {
            $('#LineUnitPrice').empty();
            $.each(data, function (key, value) {
                $('#LineUnitPrice').val(value.LineUnitPrice);
            });
        }, 'json');
    }*@
    // Get the Product category List
    function GetProductCategory() {
        $.get('@Url.Action("GetProductCategory", "StockReplacement")', {}, function (data) {
            $('#ProductCategory').empty();
            $('#ProductCategory').append($("<option value='0' selected='selected'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#ProductCategory').append($("<option></option>").val(value.CategoryID).html(value.CategoryCode));
            });
            var ProductCategoryID = $('#ProductCategory').val();
            DisableNumero(ProductCategoryID);
        }, 'json');
    }

    function DisableNumero(ProductCategoryID) {
        $.get('@Url.Action("DisableNumero", "StockReplacement")', { ProductCategoryID: ProductCategoryID }, function (data) {
            $('#LensCategory').empty();
            $.each(data, function (key, value) {
                $('#LensCategory').val(value.LensCategory);
            });
            var DepartureLocalizationID = $('#LocalizationID').val();
            //0 = frame
            //1 = equipement
            //2 = lens
            hideNumeroVerre();
            var LensCategory = $('#LensCategory').val();
            if (LensCategory==0)
            {
                hideProductLabel();
            }
            if (LensCategory == 1)
            {
                showProductLabel();
                hideProductCodeField();
                // displaynewproduct();
                if (parseInt(DepartureLocalizationID) > 0)
                {
                    GetAllEquipementProducts(DepartureLocalizationID, ProductCategoryID, 0);
                    GetAllEquipementProductsDamage(DepartureLocalizationID, ProductCategoryID, 0);
                }
            }
            if (LensCategory == 2) {
                showNumeroVerre();
                hideOtherProductLabel();
                if (parseInt(DepartureLocalizationID) > 0) {
                    GetAllPagingNumbers();
                    GetAllPagingNumbersDamage();
                }
            }
        }, 'json');
    }

    //********* lens number **********//

    function GetAllPagingNumbers() {
        $("#ProductNumber").autocomplete({
            minLength: 4, // set minimum of 4 characters before search executes.
            delay: 100, // wait 0.1 second after keystroke before search executes.
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetAllNumbers", "StockReplacement")',
                    type: "POST",
                    dataType: "json",
                    //cache: false,
                    data: { filter: request.term, ProductCategory: $('#ProductCategory').val(), localization: $('#LocalizationID').val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.LensNumberFullCode, value: item.LensNumberFullCode, id: item.LensNumberID };
                        }))
                    }
                })
            },
            messages: {
                noResults: "No results",
                results: function (count) {
                    return count + (count == 0 ? ' result' : ' results');
                }
            },
            select: function (event, ui) {
                $("#ProductNumberID").val(ui.item.id);
                var ProductNumberID = $('#ProductNumberID').val();
                var Localization = $('#LocalizationID').val();
                var ProductCategoryID = $('#ProductCategory').val();
                OnLensNumberSelected(ProductNumberID, Localization, ProductCategoryID);
            }
        });
    }
    function OnLensNumberSelected(ProductNumberID, Localization, ProductCategoryID) {
        $.get('@Url.Action("OnLensNumberSelected", "StockReplacement")', { ProductNumberID: ProductNumberID, Localization: Localization, ProductCategoryID: ProductCategoryID }, function (data) {
            $('#ProductID1').empty();
            $('#ProductCode').empty();
            $('#StockQuantity').empty();
            $.each(data, function (key, value) {
                $('#ProductID1').val(value.ProductID);
                $('#ProductCode').val(value.ProductCode);
                $('#StockQuantity').val(value.StockQuantity);
            });
        }, 'json');
    }
    //for damage
    function GetAllPagingNumbersDamage() {
        $("#ProductNumberDamage").autocomplete({
            minLength: 4, // set minimum of 4 characters before search executes.
            delay: 100, // wait 0.1 second after keystroke before search executes.
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetAllNumbers", "StockReplacement")',
                    type: "POST",
                    dataType: "json",
                    //cache: false,
                    data: { filter: request.term, ProductCategory: $('#ProductCategory').val(), localization: $('#LocalizationID').val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.LensNumberFullCode, value: item.LensNumberFullCode, id: item.LensNumberID };
                        }))
                    }
                })
            },
            messages: {
                noResults: "No results",
                results: function (count) {
                    return count + (count == 0 ? ' result' : ' results');
                }
            },
            select: function (event, ui) {
                $("#ProductNumberIDDamage").val(ui.item.id);
                var ProductNumberID = $('#ProductNumberIDDamage').val();
                var Localization = $('#LocalizationID').val();
                var ProductCategoryID = $('#ProductCategory').val();
                OnLensNumberSelectedDamage(ProductNumberID, Localization, ProductCategoryID);
            }
        });
    }
    function OnLensNumberSelectedDamage(ProductNumberID, Localization, ProductCategoryID) {
        $.get('@Url.Action("OnLensNumberSelected", "StockReplacement")', { ProductNumberID: ProductNumberID, Localization: Localization, ProductCategoryID: ProductCategoryID }, function (data) {
            $('#ProductID1Damage').empty();
            $('#ProductCodeDamage').empty();
            $.each(data, function (key, value) {
                $('#ProductID1Damage').val(value.ProductID);
                $('#ProductCodeDamage').val(value.ProductCode);
                //$('#StockQuantity').val(value.StockQuantity);
            });
        }, 'json');
    }
    //

    function GetAllEquipementProducts(DepartureLocalizationID, ProductCategoryID)
    {
        $.get('@Url.Action("GetAllProducts", "StockReplacement")', { DepartureLocalizationID: DepartureLocalizationID, ProductCategoryID: ProductCategoryID }, function (data) {
            $('#ProductID').empty();
            $('#ProductID').append($("<option value='0' selected='selected'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#ProductID').append($("<option></option>").val(value.ProductID).html(value.ProductCode));
            });

        }, 'json');
    }

    function GetAllEquipementProductsDamage(DepartureLocalizationID, ProductCategoryID)
    {
        $.get('@Url.Action("GetAllProducts", "StockReplacement")', { DepartureLocalizationID: DepartureLocalizationID, ProductCategoryID: ProductCategoryID }, function (data) {
            $('#ProductIDDamage').empty();
            $('#ProductIDDamage').append($("<option value='0' selected='selected'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#ProductIDDamage').append($("<option></option>").val(value.ProductID).html(value.ProductCode));
            });

        }, 'json');
    }
    function OnProductSelected(ProductID, Localization)
    {
        $.get('@Url.Action("OnProductSelected", "StockReplacement")', { CurrentProduct: ProductID, Localization: Localization }, function (data) {
            $('#StockQuantity').empty();
            $('#LineUnitPrice').empty();
            $.each(data, function (key, value) {
                $('#StockQuantity').val(value.StockQuantity);
                $('#LineUnitPrice').val(value.LineUnitPrice);
            });

        }, 'json');
    }




    function InitialiseHeader() {
        //header
        $('#AutorizedByID').val('');

        $('#BranchID').val('0');
        $('#StockReplacementDate').val('');
        $('#StockReplacementReference').val('');
        $('#AutorizedByID').val('0');

    }
    function productitems()
    {
        $('#ProductID').val('');
        $('#ProductIDDamage').val('');
        
        $('#LineQuantity').val('');
        $('#StockQuantity').val('');
        $('#LineUnitPrice').val('');
        $('#ProductCategory').val('0');

        $('#StockReplacementReason').val('');

        $('#ProductNumber').val('');
        $('#ProductNumberID').val('0');

        $('#ProductNumberDamage').val('');
        $('#ProductNumberIDDamage').val('0');

        $('#ProductCode').val('');
        $('#ProductID1').val('0');

        $('#ProductCodeDamage').val('');
        $('#ProductID1Damage').val('0');
    }
    function productitemsansCat() {
        $('#ProductID').val('');
        $('#ProductIDDamage').val('');
        
        $('#LineQuantity').val('');
        $('#StockQuantity').val('');
        $('#LineUnitPrice').val('');

        $('#StockReplacementReason').val('');

        $('#referenceName').val('');
        $('#NumeroSerie').val('');
        $('#Marque').val('');

        $('#referenceNameDamage').val('');
        $('#NumeroSerieDamage').val('');
        $('#MarqueDamage').val('');

        $('#ProductNumber').val('');
        $('#ProductNumberID').val('0');

        $('#ProductNumberDamage').val('');
        $('#ProductNumberIDDamage').val('0');

        $('#ProductCode').val('');
        $('#ProductID1').val('0');

        $('#ProductCodeDamage').val('');
        $('#ProductID1Damage').val('0');
    }

    function ClearForm()
    {
        InitialiseHeader();
        productitems();
        LoadCommandLinesGrid(true);
        var BranchID = $('#BranchID').val();
        var DateOp = $('#DateOperation').val();
        LoadAllCommandLines(true, BranchID, DateOp);
        $('#btnSubmit').prop('disabled', false);
    }
    //chargement d'une commandes d'un client
    function LoadAllCommandLines(test, BranchID, ReloadStockReplacementDate) {

        if (test)
        {
            $('#mainTable').dataTable().fnDestroy();
        }
        var oTable = $('#mainTable');

        oTable = $('#mainTable').dataTable({
            "paging": true,
            "pageLength": 4,
            "lengthMenu": [[4, 8, 12, -1], [4, 8, 12, "All"]],
            "searching": true,
            "ordering": true,
            "pagingType": "full_numbers",
            // Ajax call
            "ajax": {
                "url": "@Url.Action("GetAllPendingStockReplacements", "StockReplacement")",
                "type": "GET",
                "datatype": "json",
                "data": { BranchID: BranchID, ReloadStockReplacementDate: ReloadStockReplacementDate }
            },
            "columns": [
                { "data": "StockReplacementID" },
                { "data": "StockReplacementReference" },
                { "data": "StockReplacementDate", "width": "10%" },
                { "data": "Branch" },
                { "data": "AutorizedBy" },
                { "data": "RegisteredBy" },
                {// this is Actions Column
                    mRender: function (data, type, row)
                    {
                        @*var deleteOption = '@LoadAction.IsSubMenuActionAble(MenuAction.DELETE, @profile, CodeValue.Supply.StockReplacement, db)';
                        var showDel=(deleteOption=='False') ? '<a href=# class="editor_remove" onclick="DeleteItem(this)"><span class="glyphicon glyphicon-trash"></span></a>':'';*@

                        var printOption = '@LoadAction.IsSubMenuActionAble(MenuAction.UPDATE, @profile, CodeValue.Supply.StockReplacement, db)';
                        var showPrint=(printOption=='False') ? '<a href="@Url.Action("GenerateReceipt", "StockReplacement", new { StockReplacementID = -1 })" class="editor_remove"><span class="glyphicon glyphicon-print"></span></a>':'';
                        showPrint= showPrint.replace("-1", row.StockReplacementID);
                        return @*showDel+" | "+*@showPrint;
                    }
                }
            ]
    });
    }
    function addToGrid()
    {
        var isAllValid = true;
        if ($('#AutorizedByID').val() == "0") {
            isAllValid = false;
            $("#AutorizedByID").addClass("invalid-data");
            alert('choose order by');
        }
        else {
            $("#AutorizedByID").addClass("valid-data");
        }
        if ($('#LocalizationID').val() == "0") {
            isAllValid = false;
            $("#LocalizationID").addClass("invalid-data");
        }
        else {
            $("#LocalizationID").addClass("valid-data");
        }

        if ($('#ProductCategory').val() == "0") {
            isAllValid = false;
            $("#ProductCategory").addClass("invalid-data");
        }
        else {
            $("#ProductCategory").addClass("valid-data");
        }
        var ProductID = 0;
        var ProductIDDamage = 0;
        var LensCategory = $('#LensCategory').val();
        if (LensCategory == 0  || LensCategory == 2)  { //frame
            if ($('#ProductID1').val() == "0" || $('#ProductID1').val() == '') {
                isAllValid = false;
                $("#ProductID1").addClass("invalid-data");
            }
            else {
                $("#ProductID1").addClass("valid-data");
                ProductID = $('#ProductID1').val();
            }

            if ($('#ProductID1Damage').val() == "0" || $('#ProductID1Damage').val() == '') {
                isAllValid = false;
                $("#ProductID1Damage").addClass("invalid-data");
            }
            else {
                $("#ProductID1Damage").addClass("valid-data");
                ProductIDDamage = $('#ProductID1Damage').val();
            }
        }
        else //equipement et frame
        {

            if ($('#ProductID').val() == "0" || $('#ProductID').val() == '') {
                isAllValid = false;
                $("#ProductID").addClass("invalid-data");
            }
            else {
                $("#ProductID").addClass("valid-data");
                ProductID = $('#ProductID').val();
            }

            if ($('#ProductIDDamage').val() == "0" || $('#ProductIDDamage').val() == '') {
                isAllValid = false;
                $("#ProductIDDamage").addClass("invalid-data");
            }
            else {
                $("#ProductIDDamage").addClass("valid-data");
                ProductIDDamage = $('#ProductIDDamage').val();
            }
        }
        if ($('#LineQuantity').val().trim() == '') {
            isAllValid = false;
            $("#LineQuantity").addClass("invalid-data");
        }
        else {
            $("#LineQuantity").addClass("valid-data");
        }
        if ($('#LineUnitPrice').val().trim() == '') {
            isAllValid = false;
            $("#LineUnitPrice").addClass("invalid-data");
        }
        else {
            $("#LineUnitPrice").addClass("valid-data");
        }
        if ($('#StockReplacementReason').val().trim() == '') {
            isAllValid = false;
            $("#StockReplacementReason").addClass("invalid-data");
        }
        else {
            $("#StockReplacementReason").addClass("valid-data");
        }

        var data = {
            LineUnitPrice: $.trim($('#LineUnitPrice').val()),
            LineQuantity: $.trim($('#LineQuantity').val()),
            ProductID: ProductID,
            ProductDamageID:ProductIDDamage,
            ProductCategory: $.trim($('#ProductCategory').val()),
            LocalizationID: $.trim($('#LocalizationID').val()),
            StockReplacementReason:$('#StockReplacementReason').val(),
            NumeroSerie: $.trim($('#NumeroSerie').val()),
            Marque: $.trim($('#Marque').val()),
            NumeroSerieDamage: $.trim($('#NumeroSerieDamage').val()),
            MarqueDamage: $.trim($('#MarqueDamage').val()),
        }
        $(this).val('Please wait...');
        if (isAllValid) {
            $.ajax({
                url: '@Url.Action("AddStockReplacementLine", "StockReplacement")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    //check is successfully save to database
                    if (d.status == true) {
                        LoadCommandLinesGrid(true);
                        //clear form
                        productitemsansCat();

                    }
                    else {
                        alert(d.Message);
                    }
                    $('#AddToGrid').val('@Resources.addCmdLine');
                },
                error: function () {
                    alert('Error. Please try again.');
                    $('#AddToGrid').val('@Resources.addCmdLine');
                }
            });
        }
    }



    //chargement d'une commandes d'un client
    function LoadCommandLinesGrid(test) {

        if (test)
        {
            $('#CommandLinesGrid').dataTable().fnDestroy();
        }
        var oTable = $('#CommandLinesGrid');

        oTable = $('#CommandLinesGrid').dataTable({
            "paging": true,
            "pageLength": 4,
            "lengthMenu": [[4, 8, 12, -1], [4, 8, 12, "All"]],
            "searching": false,
            "ordering": true,
            "pagingType": "full_numbers",
            "columnDefs": [
                    { "visible": false, "targets": 0 }
            ],
            // Ajax call
            "ajax": "@Url.Action("StockReplacementLines", "StockReplacement")",

            "columns": [
                { "data": "TMPID" },
                { "data": "ProductLabel", "width": "40%" },
                { "data": "StockReplacementReason", "width": "30%" },
                { "data": "NumeroSerie", "width": "10%" },
                { "data": "LineQuantity" },
                { "data": "LineUnitPrice" },
                {// this is Actions Column
                    mRender: function (data, type, row) {
                        return '<a href="#" class="editor_remove" onclick="RemoveStockReplacementLine(' + row.TMPID + ')"><span class="glyphicon glyphicon-trash"></span></a>'
                    }
                }
            ]
    });
    }
    function RemoveStockReplacementLine(obj) {
        var globalID = obj;

        $.get('@Url.Action("RemoveStockReplacementLine", "StockReplacement")', { TMPID: parseInt(globalID) }, function (data) {
            $.each(data, function (key, value) {
                LoadCommandLinesGrid(true);

                productitems();
            });
        }, 'json');

    }
    $(document).on('ready', function () {
        $('#discountbloc').hide();

        $(function () {
            $(".datepicker").datepicker({
                format: 'yyyy-mm-dd',
                showButtonPanel: true,
                minDate: 0
            });
        });
        //initialosation
        hideProductLabel();

        //chargement des agence de depart
        populateBranch();
        $('#BranchID').change(function () {
            $('#DefaultBranchID').val($('#BranchID').val());
            var _DefaultId = $('#DefaultBranchID').val();
            $('#BranchID').val(_DefaultId);
            InitDate(_DefaultId);
        });

        //chargement des user
        populateUsers();

        //chargement des magasins
        populateStockedLocations();
        $('#LocalizationID').change(function () {
            productitems();
        });

        //chargement des categories
        GetProductCategory();
        $('#ProductCategory').change(function () {
            productitemsansCat();
        });
        $('#ProductCategory').change(function () {
            var ProductCategoryID = $('#ProductCategory').val();
            DisableNumero(ProductCategoryID);
        });
        //recuperation qte en stock pr le produit,unite de prix, mtant produit
        $('#ProductID').change(function () {
            var ProductID = $('#ProductID').val();
            var Localization = $('#LocalizationID').val();
            OnProductSelected(ProductID, Localization);
            //GetProductLabel(ProductID);
        });


        $('#btnCancelGrid').on('click', function () {
            productitems();
        });

        LoadCommandLinesGrid(false);
        var BranchID = $('#BranchID').val();
        var DateOp = $('#DateOpe').val();
        LoadAllCommandLines(false, BranchID, DateOp);

        $('#DateOperation').on('change', function () {
            var DateOperation = $('#DateOperation').val();
            LoadAllCommandLines(true, BranchID, DateOperation);
        });

        $('#AddToGrid').on('click', function () {
            addToGrid();
        });
        $('#btnCancel').on('click', function () {
            location.reload(true);
            //ClearForm();
        });
        $('#btnSubmit').on('click', function () {
            ValideCommande();
        });

    });

    // Get the Frame List
    function loadSerialNumber() {

        $("#referenceName").autocomplete({
            minLength: 1, // set minimum of 1 characters before search executes.
            delay: 100, // wait 0.1 second after keystroke before search executes.
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetAllSerialNumber", "StockReplacement")',
                    type: "POST",
                    dataType: "json",
                    //cache: false,
                    data: { filter: request.term, DepartureLocalizationID: $("#LocalizationID").val()},
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.NumeroSerie, value: item.NumeroSerie, id: item.ProductLocalizationID};
                        }))
                    }
                })
            },
            messages: {
                noResults: "No results",
                results: function (count) {
                    return count + (count == 0 ? ' result' : ' results');
                }
            },
            select: function (event, ui) {

                $("#ProductLocalizationID").val(ui.item.id);
                var ProductLocalizationID = $('#ProductLocalizationID').val();

                loadProductInfo(ProductLocalizationID);
            }
        });
    }


    function loadProductInfo(ProductLocalizationID) {

        $.get('@Url.Action("InitProductDetail", "StockReplacement")', { ProductLocalizationID: ProductLocalizationID }, function (data) {
            $('#ProductID1').empty();
            $('#Marque').empty();
            $('#StockQuantity').empty();
            $('#NumeroSerie').empty();
            $('#LineUnitPrice').empty();
            $('#ProductCode').empty();
            $.each(data, function (key, value) {
                $('#ProductID1').val(value.ProductID);
                $('#Marque').val(value.marque);
                $('#StockQuantity').val(value.StockQuantity);
                $('#NumeroSerie').val(value.NumeroSerie);
                $('#LineUnitPrice').val(value.FramePrice);
                $('#ProductCode').val(value.ProductCode);
            });
        }, 'json');
    }

    ///for damage ///////////////
    // Get the Frame List
    function loadSerialNumberDamage() {

        $("#referenceNameDamage").autocomplete({
            minLength: 1, // set minimum of 1 characters before search executes.
            delay: 100, // wait 0.1 second after keystroke before search executes.
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetAllSerialNumber", "StockReplacement")',
                    type: "POST",
                    dataType: "json",
                    //cache: false,
                    data: { filter: request.term, DepartureLocalizationID: $("#LocalizationID").val()},
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.NumeroSerie, value: item.NumeroSerie, id: item.ProductLocalizationID};
                        }))
                    }
                })
            },
            messages: {
                noResults: "No results",
                results: function (count) {
                    return count + (count == 0 ? ' result' : ' results');
                }
            },
            select: function (event, ui) {

                $("#ProductLocalizationID").val(ui.item.id);
                var ProductLocalizationID = $('#ProductLocalizationID').val();

                loadProductInfoDamage(ProductLocalizationID);
            }
        });
    }


    function loadProductInfoDamage(ProductLocalizationID) {

        $.get('@Url.Action("InitProductDetail", "StockReplacement")', { ProductLocalizationID: ProductLocalizationID }, function (data) {
            $('#ProductID1Damage').empty();
            $('#MarqueDamage').empty();
            $('#NumeroSerieDamage').empty();
            $('#ProductCodeDamage').empty();
            $.each(data, function (key, value) {
                $('#ProductID1Damage').val(value.ProductID);
                $('#MarqueDamage').val(value.marque);
                $('#NumeroSerieDamage').val(value.NumeroSerie);
                $('#ProductCodeDamage').val(value.ProductCode);
            });
        }, 'json');
    }
    ////////// damage /////////
    //validation d'une commande
    function ValideCommande() {

        var isAllValid = true;

        if ($('#AutorizedByID').val() == '') {
            isAllValid = false;
            $("#AutorizedByID").addClass("invalid-data");
        }
        else {
            $("#AutorizedByID").addClass("valid-data");
        }

        if ($('#StockReplacementDate').val() == '') {
            isAllValid = false;
            $("#StockReplacementDate").addClass("invalid-data");
        }
        else {
            $("#StockReplacementDate").addClass("valid-data");
        }
        if ($('#StockReplacementReference').val() == '') {
            isAllValid = false;
            $("#StockReplacementReference").addClass("invalid-data");
        }
        else {
            $("#StockReplacementReference").addClass("valid-data");
        }

        if ($('#BranchID').val().trim() == '') {
            isAllValid = false;
            $("#BranchID").addClass("invalid-data");
        }
        else {
            $("#BranchID").addClass("valid-data");
        }


        if (isAllValid) {


            var data = {
                StockReplacementID: $('#StockReplacementID').val(),
                BranchID: $('#BranchID').val(),
                AutorizedByID: $('#AutorizedByID').val(),
                RegisteredByID:@user,
                StockReplacementReference: $('#StockReplacementReference').val().trim(),
                StockReplacementDate: $('#StockReplacementDate').val(),

            }
            $(this).val('Please wait...');
            $('#btnSubmit').prop('disabled', true);
            //post data to server
            $.ajax({
                url: '@Url.Action("AddManager", "StockReplacement")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    //check is successfully save to database
                    if (d.status == true) {
                        //will send status from server side
                        alert(d.Message);
                        ClearForm();
                    }
                    else {
                        alert(d.Message);
                        $('#btnSubmit').prop('disabled', false);
                    }
                },
                error: function (response) {
                    alert('Error. Please try again.');
                    $('#btnSubmit').prop('disabled', false);
                }
            });
        }

    }

    //supression commande en attente
    function DeleteItem(obj) {
        if (confirm("@Resources.ConfirmDeleteMessage")) {
            var globalID = $(obj).parent().siblings(":first").text();
            //post to the server
            $(this).val('Please wait...');
            var data = {
                StockReplacementID: parseInt(globalID)
            }
            //post data to server
            $.ajax({
                url: '@Url.Action("DeleteStockReplacement", "StockReplacement")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    //check is successfully save to database
                    if (d.status == true) {
                        //will send status from server side
                        alert(d.Message);
                        //location.reload(true);
                        ClearForm();
                    }
                    else {
                        alert(d.Message);
                    }
                    $('#btnSubmit').val('@Resources.SaveButton');
                },
                error: function (response) {
                    alert('Error. Please try again.');
                    $('#btnSubmit').val('@Resources.SaveButton');
                }
            });
        }

    }
</script>