@using FatSod.Ressources;

@model CABOPMANAGEMENT.Models.ModelRptFacture
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Facture";
}


<section class="invoice" style="font-size:1.05em">
    <!-- title row -->
    <div class="row" style="height:115px;">

    </div>
    <!-- info row -->
    <div class="row">
        <div class="col-xs-12 invoice-title" style="text-align:center">

        </div>
    </div>
    <br />
    <br />
    <br />

    <div class="row invoice-info">
        <div class="col-xs-6" style="margin: 15px 0px;">
            <h4 style="margin:0px 15px;"><b>FACTURE : @Model.Ref</b></h4><br />
        </div>
        <div class="col-xs-6" style="text-align: right;margin-top: 10px;">
            <div class="row" style="margin-right: 1px;">
                <span><b>@Model.Title.Trim()</b></span>, <span>@Model.SaleDateHours.ToString("dd/MM/yyyy HH:mm:ss")</span>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 table-responsive">
            <div class="col-xs-5">
                <div class="gceb">
                    <strong><b>Tiers Payant</b></strong>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>Assurance</td>
                            <td>@Model.CustomerAccount</td>
                        </tr>
                        <tr>
                            <td>Niu</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Reem</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>BP</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Localisation</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-7">
                <div class="gceb">
                    <strong><b>Assuré</b></strong>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>Assuré</td>
                            <td>@Model.CustomerName</td>
                        </tr>
                        <tr>
                            <td>Entreprise</td>
                            <td>@Model.InsureCompanyName</td>
                        </tr>
                        <tr>
                            <td>No BPC</td>
                            <td>@Model.NumBPCDate</td>
                        </tr>
                        <tr>
                            <td>Patient</td>
                            <td>@Model.InsurreName</td>
                        </tr>
                        <tr>
                            <td>Relation</td>
                            <td>@Model.Relation</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 table-responsive">
            <div class="col-xs-12">
                <div class="gceb">
                    <strong><b>Rx Prescription</b></strong>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th style="text-align:left">Docteur:</th>
                            <th style="text-align:left">@Model.MedecinTraitant</th>
                            <th>Oeil</th>
                            <th>Sphere</th>
                            <th>Cylindre</th>
                            <th>Axe</th>
                            <th>Add</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LstRxPrescription)
                        {
                            <tr>
                                <td>
                                    <span>@item.Field1</span>
                                </td>
                                <td>
                                    <span>@item.Field2</span>
                                </td>
                                <td style="text-align:center">
                                    <span>@item.Oeil</span>
                                </td>
                                <td style="text-align:center">
                                    <span>@item.Sphere</span>
                                </td>
                                <td style="text-align:center">
                                    <span>@item.Cylindre</span>
                                </td>
                                <td style="text-align:center">
                                    <span>@item.Axe</span>
                                </td>
                                <td style="text-align:center">
                                    <span>@item.Add</span>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <div class="col-xs-12">
                <div class="gceb">
                    <strong><b>Detail</b></strong>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th><span><b>DESIGNATION</b></span></th>
                            <th><span><b>QTE</b></span></th>
                            <th style="text-align:right"><span><b>P.U.H.T</b></span></th>
                            <th style="text-align:right"><span><b>%</b></span></th>
                            <th style="text-align:right"><span><b>MONTANT H.T</b></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LstDetailSales.OrderBy(c => c.LineNumber))
                        {
                            <tr>
                                <td>
                                    <span>@item.Designation</span>
                                </td>
                                <td style="text-align:center">
                                    <span>@item.Qte</span>
                                </td>
                                <td style="text-align: right">
                                    <span>@item.PUHT</span>
                                </td>
                                <td style="text-align: right">
                                    <span>@item.PercRed</span>
                                </td>
                                <td style="text-align:right">
                                    <span>@item.MntHT</span>
                                </td>
                            </tr>

                        }
                    </tbody>
                    
                </table>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive"  style="margin-top:-10px;">
            <div class="col-xs-8">
                <br />
                <br />
                <span>Edited by @Model.Operator</span>
            </div>
            <div class="col-xs-4">
                <table>
                    <tbody>
                        <tr>
                            <td><span><b>Total HT</b></span></td>
                            <td style="text-align: right"><span><b>@Model.TotalAmount.ToString("N0")</b></span></td>
                        </tr>
                        <tr>
                            <td><span><b>Remise</b></span></td>
                            <td style="text-align: right"><span><b>0</b></span></td>
                        </tr>
                        <tr>
                            <td><span><b>Taxe</b></span></td>
                            <td style="text-align: right"><span><b>0</b></span></td>
                        </tr>
                        <tr>
                            <td><span><b>Net</b></span></td>
                            <td style="text-align: right"><span><b>@Model.TotalAmount.ToString("N0")</b></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <div class="col-xs-8">
                <i>Arrete cette proforma à la somme de : <b>@Model.MontantLettre FCFA</b></i><br /><br />
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>

            <div class="row no-print">
                <div class="col-xs-4">
                    <a href="#" onclick="window.focus(); window.print(); window.close();" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>
                    @*<a href="Request.UrlReferrer" class="btn btn-warning"><i class="fa fa-angle-left"></i>@Resources.previous</a>*@
                </div>

            </div>

</section>

    <!-- Css Begins Here -->
<style type="text/css" media="all">
        .invoice {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

    .gceb {
        background-color: #E6E7E9 !important;
        margin: auto;
        border-spacing: 5px 5px;
        text-align: left;
        color: black !important;
        padding: 5px 5px 15px 5px;
        border: 2px solid black;
        width: 150px;
        height: 20px;
        margin: 0px 0px 0px 0px;
    }

        #totals {
            background-color: lightseagreen;
            color: white;
        }

        #empty {
            background-color: white;
        }

        .text-right {
            text-align: right;
            position: relative;
        }

        .text-left {
            text-align: left;
            position: absolute;
            padding-bottom: 10px;
        }

        .invalid-data {
            border: 1px solid red;
        }

        .valid-data {
            border: 1px solid #ccc;
        }

        .ipt {
            margin-bottom: 6px;
        }

        #img-upload {
            width: 100%;
        }

        /*Adding some css for looks good*/
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 90%;
        }

    table {
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        font-weight: 500;
        border-collapse: collapse;
        width: 100%;
        border: 2px solid black;
        margin: 0px 0px 10px 0px;
    }

    td {
        text-decoration: none;
        color: black;
        margin: 0px 0px 0px 0px;
        text-align: left;
        border: 0px solid transparent;
        padding: 5px 5px 0px 5px;
    }

        tr:hover {
            background-color: seashell;
        }

    th {
        text-decoration: none;
        margin: 0px 0px 0px 0px;
        padding: 5px 5px 0px 5px;
        color: black;
        text-align: center;
        border: 0px solid transparent;
    }

        a:after {
            display: none !important;
        }

        @@page {
            size: 210mm 297mm portrait;
            margin: 20px 20px 10px 10px;
            overflow: hidden;
        }
        

        @@media print {
            html, body {
                height: 99%;
                -webkit-print-color-adjust: exact !important;
            }
            .gceb {
                background-color: #E6E7E9 !important;
                color: black !important;
                -webkit-print-color-adjust: exact !important;
            }
            }
</style>






