@using FatSod.Ressources;
@using CABOPMANAGEMENT.Tools;
@using FatSod.DataContext.Initializer;

@{
    ViewBag.Title = @Resources.EvenementSMS;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var profile = (int)Session["UserProfile"];
    var user = (int)Session["UserID"];
    var db = new FatSod.DataContext.Concrete.EFDbContext();
}
<div class="box box-primary box-body">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <fieldset>
                    <legend>@Resources.SearchCriteria</legend>
                    
                    <div class="row ipt">
                        <div class="col-sm-2" style="margin-top:5px;font-size:1.05em;">@Resources.Evenement</div>
                       
                        <div class="col-sm-6">
                            <select class="form-control" id="EvenementID"></select>
                            <input type="hidden" class="form-control" id="EvenementName"/>
                        </div>
                        <input class="form-control" id="DateEnvoi" type="hidden" value="@ViewBag.BusnessDayDate">
                        
                        
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary" id="btnSearch">@Resources.Search</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body1">
                    <fieldset>
                        <legend>@Resources.DescriptifInfo</legend>
                        <input type="hidden" id="HistoSMSID" />
                        <input type="hidden" id="NbreSMS" />
                        <input type="hidden" id="TypeSms" />

                        <div class="row ipt" style="word-spacing:10px;font-size:1.8em;margin:25px;">
                            @Resources.MessagebeforesendSms
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <!-- Right Side Begins Here -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body1">
                    <fieldset style="border-left: 2px solid black">
                        <legend>@Resources.InfoSMS</legend>
                        <div class="row ipt">
                            <!-- RaisonRdv -->
                            <div class="col-sm-1">@Resources.SMS</div>
                            <div class="col-sm-8">
                                <textarea style="height:100px;width:800px;" type="text" id="SmsEnvoye" class="input-sm form-control" maxlength="160">
Cher(e) Client(e), VALDOZOPTIC vous souhaites une bonne {}.Nous vous remercions pour votre fidélité.Chez Valdoz ça dose!!!
                                </textarea>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        </div>
     </div>
    <div class="row">
        <div class="col-sm-12" @*class="row" style="margin-left:10%;margin-top:-10px;"*@>
            <div class="col-sm-2">
                <button id="btnCancel" class="btn btn-primary btn-danger">@Resources.ResetButton</button>
            </div>
            <div class="col-sm-2">
                <button id="btnUpdatePhoneNumber" class="btn btn-primary btn-success">@Resources.UpdatePhoneNumber</button>
            </div>
            <div class="col-sm-2">
                <button id="btnSubmit" class="btn btn-primary btn-success">@Resources.Send</button>
            </div>
        </div>
        <div class="col-md-12">
            <fieldset>
                <div class="panel panel-default">
                    <div class="panel-body2">
                        <table class="table" id="mainTable">
                            <thead>
                                <tr class="dataTableHead">
                                    <th>ID</th>
                                    <th>@Resources.CustomerID</th>
                                    <th>@Resources.Customer</th>
                                    <th>@Resources.PhoneNumber</th>
                                    <th>@Resources.Quater</th>
                                    <th>@Resources.Deliverydate</th>
                                    <th><input type="checkbox" id="selectall" /></th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

</div>

<!-- Css Begins Here -->

<style>
    .invalid-data {
        border: 1px solid red;
    }

    .valid-data {
        border: 1px solid #ccc;
    }

    .ipt {
        margin-bottom: 6px;
    }

    #img-upload {
        width: 100%;
    }

    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    #after_manual_posting_yes {
        margin-right: 15px;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin-left: 10px;
        min-width: 0;
        padding: 0px;
        position: relative;
        border-radius: 4px;
        background-color: #99bce8;
        padding-left: 10px !important;
    }

    .panel-body {
        height: 100px;
        margin-top: -5px;
    }

    .panel-body1 {
        height: 120px;
        margin-top: -15px;
        margin-bottom:3%;
    }

    .panel-body2 {
        height: 225px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .panel-body3 {
        height: 75px;
        margin-top: 5px;
        /*margin-left: 15%;*/
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 70%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>

<script>
    $(document).on('ready', function () {

        var todaysDate = $('#DateEnvoi').val();
        $(function () {
            $(".datepicker").datepicker({
                format: 'yyyy-mm-dd',
                showButtonPanel: true,
                minDate: todaysDate
            });
        });

        populateEvement();
        var EvenementID = 0;
        var EvenementName = '';
        var ServerDate = $("#DateEnvoi").val();
        GetAllSelectedSMSCusto(false, EvenementID, EvenementName, ServerDate);
        $('#btnSearch').on('click', function () {
            EvenementID = $("#EvenementID").val();
            EvenementName = $("#EvenementName").val();
            ServerDate = $("#DateEnvoi").val();
            GetAllSelectedSMSCusto(true, EvenementID, EvenementName, ServerDate);
        });

        $('#EvenementID').change(function () {
            var EvenementID = $('#EvenementID').val();
            OnEvenementSelected(EvenementID);
        });

        $('#btnUpdatePhoneNumber').on('click', function () {
            getDataTableEltPhone();
        });

        $('#btnSubmit').on('click', function () {
            getDataTableElt();
        });

        $('#btnCancel').on('click', function () {
            location.reload(true);
        });

        $("#selectall").click(function () {
            $('#mainTable tbody input[type="checkbox"]').prop('checked', this.checked);
        });
    });

    //det detail selected frame
    function OnEvenementSelected(EvenementID) {
        $.get('@Url.Action("OnEvenementSelected", "EvenementSMS")', { EvenementID: EvenementID }, function (data) {
            $('#EvenementName').empty();
            $.each(data, function (key, value) {
                $('#EvenementName').val(value.EvenementName);
            });
        }, 'json');
    };
    function GetAllSelectedSMSCusto(test, EvenementID, EvenementName, ServerDate) {
        if (test) {
            $('#mainTable').dataTable().fnDestroy();
        }
        var oTable = $('#mainTable');
        oTable = $('#mainTable').dataTable({
            fixedColumns: true,
            "paging": true,
            "pageLength": 20,
            "lengthMenu": [[20, 40, 60, -1], [20, 40, 60, "All"]],
            "searching": true,
            "ordering": true,
            "pagingType": "full_numbers",
            //"columnDefs": [
            //        { "visible": false, "targets": 1 }
            //],
            "order": [[2, 'asc']],
            // Ajax call

            "ajax": {
                "url": "@Url.Action("GetAllSelectedSMSCusto", "EvenementSMS")",
            "type": "GET",
            "datatype": "json",
            "data": { EvenementID: EvenementID,EvenementName:EvenementName, ServerDate: ServerDate }
        },
            "columns": [
                { "data": "ID", "width": "1%" },
                { "data": "CustomerID", "width": "1%" },
                { "data": "CustomerName", "width": "40%" },
                { "data": "CustomerPhone", "width": "20%", "className": "editable" },
                { "data": "CustomerQuater", "width": "20%" },
                { "data": "SaleDeliveryDate", "width": "20%" },
                {
                    mRender: function (data, type, row) {
                        //if ( type === 'display' ) {
                        return '<input type="checkbox" class="editor-active" value=' + row.ID + '>';
                        //}
                        //return data;
                    },
                    className: "dt-body-center"
                },
                {// this is Actions Column
                    mRender: function (data, type, row) {

                        var deleteOption = '@LoadAction.IsSubMenuActionAble(MenuAction.DELETE, @profile, CodeValue.CRM.AlertSMS.EvenementSMS, db)';
                        var T_deleteOption = (deleteOption == 'False') ? '<a href="#" class="editor_remove" onclick="DeleteItem(' + row.ID + ')"><span class="glyphicon glyphicon-remove"></a>' : '';

                        return T_deleteOption;
                    }
                }
            ],
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel'
        ]

    });
    $('#mainTable').on('click', 'tbody td.editable', function () {
        if ($(this).attr("contentEditable") == true) {
            $(this).attr("contentEditable", "false");
        } else {
            $(this).attr("contentEditable", "true");
        }
    });

    }

    function DeleteItem(obj) {

        if (confirm("Do you want to Delete this Data ?")) {
            var globalID = obj;
            //post to the server
            $(this).val('Please wait...');
            var data = {
                ExtractSMSID: parseInt(globalID)
            }
            //post data to server
            $.ajax({
                url: '@Url.Action("Delete", "EvenementSMS")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    //check is successfully save to database
                    if (d.status == true) {
                        //will send status from server side
                        alert(d.Message);
                        clearForm();
                    }
                    else {
                        alert(d.Message);
                    }
                    $('#btnSubmit').val('@Resources.Send');
                },
                error: function (response) {
                    alert('Error. Please try again.');
                    $('#btnSubmit').val('@Resources.Send');
                }
            });
        }
    }

    function getDataTableEltPhone() {
        var table = document.getElementById('mainTable');

        var rowLength = table.rows.length;
        var SMSItems = [];
        for (var i = 1; i < rowLength; i += 1) {
            var row = table.rows[i];
            var ID = row.cells[0].innerHTML;
            var CustomerID = row.cells[1].innerHTML;
            var CustomerName = row.cells[2].innerHTML;
            var CustomerPhone = row.cells[3].innerHTML;
            var CustomerQuater = row.cells[4].innerHTML;
            var SaleDeliveryDate = row.cells[5].innerHTML;
            SMSItems.push({
                ID: ID,
                CustomerID: CustomerID,
                CustomerName: CustomerName,
                CustomerPhone: CustomerPhone,
                CustomerQuater: CustomerQuater,
                SaleDeliveryDate: SaleDeliveryDate
            });

        }
        if (SMSItems.length > 0) {
            UpdatePhone(SMSItems);
        }
    }
    function UpdatePhone(input) {
        var isAllValid = true;

        var formData = new FormData();
        $.each(input, function (key, input) {

            if (input.CustomerPhone == '') {
                @*isAllValid = false;
                alert('@Resources.wrongphonenumber');*@
                return;
            }


            if (isAllValid) {
                formData.append("SMSItems[" + key + "].ExtractSMSID", input.ID);
                formData.append("SMSItems[" + key + "].CustomerID", input.CustomerID);
                formData.append("SMSItems[" + key + "].CustomerName", input.CustomerName);
                formData.append("SMSItems[" + key + "].CustomerPhone", input.CustomerPhone);
                formData.append("SMSItems[" + key + "].CustomerQuater", input.CustomerQuater);
                formData.append("SMSItems[" + key + "].SaleDeliveryDate", input.SaleDeliveryDate);
            }
        });


        if (isAllValid) {

            $(this).val('Please wait...');

            //post data to server
            $.ajax({
                url: '@Url.Action("UpdatePhone", "EvenementSMS")',
                type: "POST",
                data: formData,//JSON.stringify(data),
                dataType: "JSON",
                contentType: false,
                processData: false,
                success: function (d) {
                    //check is successfully save to database
                    if (d.status == true) {
                        //will send status from server side
                        alert(d.Message);
                        //clear form
                        clearForm();
                    }
                    else {
                        alert(d.Message);
                    }
                    $('#btnSubmit').val('@Resources.Send');
                },
                error: function () {
                    alert('Error. Please try again.');
                    $('#btnSubmit').val('@Resources.Send');
                }
            });
        }
    }

    function getDataTableElt() {
        var searchIDs = [];

        $("#mainTable input:checkbox:checked").map(function () {
            searchIDs.push($(this).val());
        });

        var rowLength = searchIDs.length;
        var SMSItems = [];
        for (var i = 0; i < rowLength; i += 1) {
            var ID = searchIDs[i];
            SMSItems.push({
                ID: ID
            });

        }
        if (SMSItems.length > 0) {
            EnvoiSMS(SMSItems);
        }
    }

    //function getDataTableElt() {
    //    var table = document.getElementById('mainTable');

    //    var rowLength = table.rows.length;
    //    var SMSItems = [];
    //    for (var i = 1; i < rowLength; i += 1) {
    //        var row = table.rows[i];
    //        var ID = row.cells[0].innerHTML;
    //        var CustomerID = row.cells[1].innerHTML;
    //        var CustomerName = row.cells[2].innerHTML;
    //        var CustomerPhone = row.cells[3].innerHTML;
    //        var CustomerQuater = row.cells[4].innerHTML;
    //        var SaleDeliveryDate = row.cells[5].innerHTML;
    //        SMSItems.push({
    //            ID: ID,
    //            CustomerID: CustomerID,
    //            CustomerName: CustomerName,
    //            CustomerPhone: CustomerPhone,
    //            CustomerQuater: CustomerQuater,
    //            SaleDeliveryDate: SaleDeliveryDate
    //        });

    //    }
    //    if (SMSItems.length > 0) {
    //        EnvoiSMS(SMSItems);
    //    }
    //}
    function EnvoiSMS(input) {
        var isAllValid = true;
        if ($('#SmsEnvoye').val().trim() == '') {
            isAllValid = false;
            $('#SmsEnvoye').addClass("invalid-data");
        }
        else {
            $('#SmsEnvoye').addClass("valid-data");
        }

        if ($('#DateEnvoi').val().trim() == '') {
            isAllValid = false;
            $('#DateEnvoi').addClass("invalid-data");
        }
        else {
            $('#DateEnvoi').addClass("valid-data");
        }

        var formData = new FormData();
        $.each(input, function (key, input) {

            if (input.CustomerPhone == '') {
                return;
                @*isAllValid = false;
                alert('@Resources.wrongphonenumber');*@
            }


            if (isAllValid) {
                formData.append("SMSItems[" + key + "].ExtractSMSID", input.ID);
                //formData.append("SMSItems[" + key + "].CustomerID", input.CustomerID);
                //formData.append("SMSItems[" + key + "].CustomerName", input.CustomerName);
                //formData.append("SMSItems[" + key + "].CustomerPhone", input.CustomerPhone);
                //formData.append("SMSItems[" + key + "].CustomerQuater", input.CustomerQuater);
                //formData.append("SMSItems[" + key + "].SaleDeliveryDate", input.SaleDeliveryDate);

                formData.append("SMSItems[" + key + "].AlertDescrip", "EVENEMENT");
                formData.append("SMSItems[" + key + "].TypeAlert", $('#EvenementName').val());
                formData.append("SMSItems[" + key + "].Condition", $('#EvenementID').val());
            }
        });


        if (isAllValid) {
            formData.append("DateEnvoi", $('#DateEnvoi').val().trim());
            formData.append("SmsEnvoye", $('#SmsEnvoye').val().trim());
            $(this).val('Please wait...');
            $('#btnSubmit').prop('disabled', true);
            //post data to server
            $.ajax({
                url: '@Url.Action("EnvoiSMS", "EvenementSMS")',
                type: "POST",
                data: formData,//JSON.stringify(data),
                dataType: "JSON",
                contentType: false,
                processData: false,
                success: function (d) {
                    //check is successfully save to database
                    if (d.status == true) {
                        //will send status from server side
                        alert(d.Message);
                        //clear form
                        clearForm();
                    }
                    else {
                        alert(d.Message);
                    }
                    $('#btnSubmit').val('@Resources.Send');
                    $('#btnSubmit').prop('disabled', false);
                },
                error: function () {
                    alert('Error. Please try again.');
                    $('#btnSubmit').val('@Resources.Send');
                    $('#btnSubmit').prop('disabled', false);
                }
            });
        }
    }

    function clearForm() {
        $('#btnSubmit').prop('disabled', false);
        $('#HistoSMSID').val('');
        var EvenementID = $("#EvenementID").val();
        var EvenementName = $("#EvenementName").val();
        var ServerDate = $("#DateEnvoi").val();
        GetAllSelectedSMSCusto(true, EvenementID, EvenementName, ServerDate);

    }

    // Get the Assurance List
    function populateEvement() {
        $.get('@Url.Action("populateEvement", "EvenementSMS")', {}, function (data) {
            $('#EvenementID').empty();
            $('#EvenementID').append($("<option value='0'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#EvenementID').append($("<option></option>").val(value.ID).html(value.Name));
            });

        }, 'json');

    }

</script>