@using FatSod.Ressources;
@{
    ViewBag.Title = @Resources.ChangePasswordFormTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h6>@Resources.RequireField <code>(*)</code>.</h6>
</header>
<div class="box box-primary box-body">

    <div class="row">
        <fieldset class="col-md-12">
            <legend>@Resources.FormUserParameter</legend>
            <div class="panel panel-default">
                
                <div class="panel-body">
                    <div class="row ipt">
                        <div class="col-sm-4">@Resources.UserLogin<code>(*)</code></div>
                        <div class="col-sm-8">
                            <input type="text" id="UserLogin" name="UserLogin" class="input-sm form-control" />
                        </div>
                    </div>
                    <div class="row ipt">
                        <div class="col-sm-4">@Resources.OldUserPassword<code>(*)</code></div>
                        <div class="col-sm-8">
                            <input type="password" id="OldUserPassword" name="OldUserPassword" class="input-sm form-control" />
                        </div>
                    </div>
                    <div class="row ipt">
                        <div class="col-sm-4">@Resources.NewUserPassword<code>(*)</code></div>
                        <div class="col-sm-8">
                            <input type="password" id="NewUserPassword" name="UserPassword" class="input-sm form-control" />
                        </div>
                    </div>
                    <div class="row ipt">
                        <div class="col-sm-4">@Resources.UserPassword2<code>(*)</code></div>
                        <div class="col-sm-8">
                            <input type="password" id="UserPassword2" name="UserPasswordVerif" class="input-sm form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <button id="btnCancel" class="btn btn-primary btn-danger">@Resources.ResetButton</button>
                </div>
                <div class="col-sm-2">
                    <button id="btnSubmit" class="btn btn-primary btn-success">@Resources.SaveButton</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<!-- Css Begins Here -->
<style>
    .invalid-data {
        border: 1px solid red;
    }

    .valid-data {
        border: 1px solid #ccc;
    }

    .ipt {
        margin-bottom: 6px;
    }

   

    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    #after_manual_posting_yes {
        margin-right: 15px;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        min-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #99bce8;
        padding-left: 10px !important;
    }

    .panel-body {
        height: 150px;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 70%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>
<!--********** JavaScripts **********-->
<script>

    function clearForm() {

        $('#UserLogin').val('');
        $('#OldUserPassword').val('');
        $('#NewUserPassword').val('');
        $('#UserPassword2').val('');
        
    }

    $(document).on('ready', function () {
        $('#btnCancel').on('click', function () {
            clearForm();
        });

        $('#btnSubmit').on('click', function () {
            var isAllValid = true;


            if ($('#UserLogin').val().trim() == '') {
                isAllValid = false;
                $("#UserLogin").addClass("invalid-data");
            }
            else {
                $("#UserLogin").addClass("valid-data");
            }

            if ($('#OldUserPassword').val().trim() == '') {
                isAllValid = false;
                $("#OldUserPassword").addClass("invalid-data");
            }
            else {
                $("#OldUserPassword").addClass("valid-data");
            }

            if ($('#NewUserPassword').val() == '') {
                isAllValid = false;
                $("#NewUserPassword").addClass("invalid-data");
            }
            else {
                $("#NewUserPassword").addClass("valid-data");
            }

            if ($('#UserPassword2').val() == '') {
                isAllValid = false;
                $("#UserPassword2").addClass("invalid-data");
            }
            else {
                $("#UserPassword2").addClass("valid-data");
            }


            if (isAllValid) {

                var formData = new FormData();

                formData.append("UserLogin",$('#UserLogin').val().trim());
                
                formData.append("OldUserPassword", $('#OldUserPassword').val().trim());
                formData.append("NewUserPassword", $('#NewUserPassword').val().trim());
                formData.append("UserPassword2", $('#UserPassword2').val());

                $(this).val('Please wait...');

                //post data to server
                $.ajax({
                    url: '@Url.Action("EditUser", "Session")',
                    type: "POST",
                    data: formData, 
                    dataType: "JSON",
                    //contentType: "application/json",
                    contentType: false,
                    processData: false,
                    success: function (d) {
                        //check is successfully save to database
                        if (d.status == true) {
                            //will send status from server side
                            alert(d.Message);
                            window.location.href = d.redirectUrl;
                        }
                        else {
                            alert(d.Message);
                        }
                        $('#btnSubmit').val('@Resources.SaveButton');
                    },
                    error: function (response) {
                        alert('Error. Please try again.');
                        $('#btnSubmit').val('@Resources.SaveButton');
                    }
                });
            }
        });
    });
</script>