
@model CABOPMANAGEMENT.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<div class="container row" style="margin:auto">
    <div class="col-lg-4"></div>
    <div class=" container col-lg-4" style="margin:auto">
        <section id="loginForm">
    @using (Html.BeginForm("Login", "Session", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="radio">
                    <h2 style="text-align:center"><b>@ViewBag.AppNameP</b>@ViewBag.AppNameS</h2>
                </div>
            </div>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "UserName", autocomplete = false })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1"></div>
                </div>


                @*<div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                                <div class="form-group">
                                    <div class="checkbox" style="margin-left:30px">
                                        @Html.CheckBoxFor(m => m.RememberMe, new { @class =  "x"})
                                        @Html.LabelFor(m => m.RememberMe )
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-1"></div>
                    </div>*@

                <div class="row">
                    @*<div class="col-md-1"></div>*@
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="pull-left" style="margin-left:50px;">
                                <input type="submit" value="Log in" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-1"></div>*@
                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="pull-left" style="margin-left:10px;margin-top:10px;">
                                @*<input type="button" id="btnSubmit" value="Forget your password?" class="btn btn-link" />*@
                                @Html.ActionLink("Change Password?", "ChangePassword", "Session", new { area = "" }, new { @class = "navbar-nav" })
                            </div>
                        </div>
                        @**@
                    </div>
                </div>
                
                }
    </section>
        <hr />
    </div>
    <div class="col-lg-4"></div>
</div>




<link href="~/Scripts/AdminLTE/plugins/iCheck/square/blue.css" rel="stylesheet" />

<script src="~/Scripts/AdminLTE/plugins/iCheck/icheck.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
<script>
    $(document).ready(function () {
        $('.x').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

    @*$(document).on('ready', function () {
        $('#btnSubmit').on('click', function () {
            var isAllValid = true;


            if ($('#UserName').val().trim() == '') {
                isAllValid = false;
                $("#UserName").addClass("invalid-data");
            }
            else {
                $("#UserName").addClass("valid-data");
            }

            var username = $('#UserName').val().trim();
            window.location.href = @Url.Action("Utilisateur", "User", new { area = "Administration" },new { @username= username });
            alert(username);
        });

    });*@
</script>