<!DOCTYPE html>
<html>
<head>
    
    <title>FSInventory 1.0.0</title>
    
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/Dental.css")" />
    @*<link rel="stylesheet" href="@Url.Content("~/Content/Css/bootstrap.css")" />*@
    @RenderSection("header", false)
</head>
<body>
    <script src="~/Content/js/Dental.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <div>
        @Html.X().ResourceManager().Theme(Theme.Default).ShowWarningOnAjaxFailure(false).ScriptMode(Ext.Net.ScriptMode.Release)
        
        @RenderSection("content", false)

        <hr style="border-color:#0094ff;" />
        <footer style="bottom:0;margin-bottom:-20px;">
            <p>&copy; FatSod Group @DateTime.Now.Year - FSInventory 1.0.0</p>
        </footer>
        
    </div>
    
    
</body>
</html>