@using FatSod.Ressources;
@using FatSod.DataContext.Initializer;
@using CABOPMANAGEMENT.Tools;

@model IEnumerable<FatSod.Supply.Entities.RegProductNumber>
@{
    ViewBag.Title = @Resources.RegProductNumber;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var profile = (Session["UserProfile"] == null) ? 0 : (int)Session["UserProfile"];
    var user = (Session["UserID"] == null) ? 0 : (int)Session["UserID"];

    var db = new FatSod.DataContext.Concrete.EFDbContext();

}

<div class="box box-primary box-body">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>@Resources.RegularizationInfo</legend>

                <div class="panel panel-default">
                    <div class="panel-body1">
                        <div class="row ipt" style="margin-top:2px;">
                            <input type="hidden" id="RegProductNumberID" />
                            <input type="hidden" id="DateOpe" value="@ViewBag.BusnessDayDate" />
                            <input type="hidden" id="LensCategory" />
                            <div class="col-sm-2">@Resources.Branches<code>(*)</code></div>
                            <div class="col-sm-4">
                                @*<input type="hidden" id="DefaultBranchID" value="@ViewBag.CurrentBranch" />*@
                                <select id="BranchID" class="form-control"></select>
                            </div>
                            <div class="col-sm-2">@Resources.AutorizedBy</div>
                            <div class="col-sm-4">
                                <select class="form-control input-sm" id="AutorizedByID"></select>
                            </div>
                        </div>
                        <div class="row ipt" style="margin-top:2px;">
                            <div class="col-sm-2">@Resources.UIDateOperation</div>
                            <div class="col-sm-4">
                                <input type="text" id="RegProductNumberDate" class="input-sm form-control" readonly />
                            </div>
                            <div class="col-sm-2">@Resources.Reference</div>
                            <div class="col-sm-4">
                                <input class="form-control input-sm" id="RegProductNumberReference" type="text" readonly>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row" style="margin-top:-50px;">
        <div class="col-md-6">
            <fieldset>
                <legend>@Resources.AddProdCady</legend>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="hidden" id="RegProductNumberLineID" />
                        <input type="hidden" id="TMPID" value="0" />
                        <div class="row ipt">
                            <div class="col-sm-4">@Resources.Localization<code>(*)</code></div>
                            <div class="row">
                                <div class="col-sm-7" style="margin-left:-25px;">
                                    <select id="LocalizationID" class="input-sm form-control"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">@Resources.Categories</div>
                            <div class="row">
                                <div class="col-sm-7" style="margin-left:-25px;">
                                    <select id="ProductCategory" class="input-sm form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row ipt" style="padding:0px;" id="NumeroVerre">
                            <div class="col-sm-4">@Resources.SelectNumber</div>
                            <div class="row">
                                <div class="col-sm-7" style="margin-left:-25px;">
                                    <input class="form-control" id="OldProductNumber" type="text">
                                    <input class="form-control" id="OldProductNumberID" type="hidden">
                                </div>
                            </div>
                        </div>
                        <div class="row ipt" style="padding:0px;">
                            <div class="col-sm-4">@Resources.Productlabel<code>(*)</code></div>
                            <div class="row">
                                <div class="col-sm-7" style="margin-left:-25px;">
                                    <select id="OldProductID" class="input-sm form-control"></select>
                                    <input id="OldProductID1" type="hidden" class="input-sm form-control">
                                    <input id="OldProductCode" type="text" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <!--new product-->
                        <div class="row ipt">
                            <div class="col-sm-4">@Resources.Categories</div>
                            <div class="row">
                                <div class="col-sm-7" style="margin-left:-25px;">
                                    <select id="NewProductCategory" class="input-sm form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row ipt" style="padding:0px;" id="NewNumeroVerre">
                            <div class="col-sm-4">@Resources.SelectNumber</div>
                            <div class="row">
                                <div class="col-sm-7" style="margin-left:-25px;">
                                    <input class="form-control" id="NewProductNumber" type="text">
                                    <input class="form-control" id="NewProductNumberID" type="hidden">
                                </div>
                            </div>
                        </div>
                        <div class="row ipt" style="padding:0px;">
                            <div class="col-sm-4">@Resources.NewProductlabel<code>(*)</code></div>
                            <div class="row">
                                <div class="col-sm-7" style="margin-left:-25px;">
                                    <select id="NewProductID" class="input-sm form-control"></select>
                                    <input id="NewProductID1" type="hidden" class="input-sm form-control">
                                    <input id="NewProductCode" type="text" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row ipt" style="padding:0px;">
                            <div class="col-sm-4">@Resources.Quantity<code>(*)</code></div>
                            <div class="row">
                                <div class="col-sm-7" style="margin-left:-25px;">
                                    <input id="NewLineQuantity" type="number" class="input-sm form-control NumbersAndDecimal" />
                                </div>
                            </div>
                        </div>
                        <!--button-->
                        <div class="row">
                            <div class="col-sm-5">
                                <button type="submit" class="btn btn-primary" id="AddToGrid">@Resources.AddProdCady</button>
                            </div>
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-4">
                                <button type="button" id="btnCancelGrid" class="btn btn-primary">@Resources.ResetButton</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset>
                <legend>@Resources.CadyContent</legend>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table" id="CommandLinesGrid">
                            <thead>
                                <tr class="dataTableHead">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        @Resources.OldDesignation
                                    </th>
                                    <th>
                                        @Resources.NewDesignation
                                    </th>
                                    <th>
                                        @Resources.Localization
                                    </th>
                                    <th>
                                        @Resources.Quantity
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
        <br />
        <!-- Save and Reset Buttons -->
        <div class="row">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary btn-success" id="btnSubmit">@Resources.SaveButton</button>
            </div>
            <div class="col-sm-2">
                <button type="button" id="btnCancel" class="btn btn-primary btn-danger">@Resources.ResetButton</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                @*<legend>@Resources.inventoryDirectoryList</legend>*@
                <div class="row ipt">
                    <div class="col-sm-2">@Resources.UIDateOperation</div>
                    <div class="col-sm-3">
                        <input class="form-control datepicker checkDateNoGraterThanToday" id="DateOperation" type="text" placeholder="choose Transfert date" value="@ViewBag.BusnessDayDate">
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table" id="mainTable">
                            <thead>
                                <tr class="dataTableHead">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        @Resources.Reference
                                    </th>
                                    <th>
                                        @Resources.UIDateOperation
                                    </th>
                                    <th>
                                        @Resources.Branches
                                    </th>
                                    <th>
                                        @Resources.AutorizedBy
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<!--css detail-->
<style>
    .invalid-data {
        border: 1px solid red;
    }

    .valid-data {
        border: 1px solid #ccc;
    }

    .ipt {
        margin-bottom: 3px;
        margin-left: 1px;
    }

    #img-upload {
        width: 100%;
    }

    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    #after_manual_posting_yes {
        margin-right: 15px;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        min-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #99bce8;
        padding-left: 10px !important;
    }

    .panel-body {
        height: 360px;
    }

    .panel-body1 {
        height: 70px;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 70%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>
<!--javascript-->
<script>
    // Get the Branch List
    function populateBranch() {
        $.get('@Url.Action("OpenedBusday", "RegProductNumber")', {}, function (data) {
            $('#BranchID').empty();
            $('#BranchID').append($("<option value='0'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#BranchID').append($("<option></option>").val(value.BranchID).html(value.BranchName));
            });

        }, 'json');
    }

    // Get the user List
    function populateUsers() {
        $.get('@Url.Action("populateUsers", "RegProductNumber")', {}, function (data) {
            $('#AutorizedByID').empty();
            $('#AutorizedByID').append($("<option value='0'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#AutorizedByID').append($("<option></option>").val(value.GlobalPersonID).html(value.UserFullName));
            });
        }, 'json');
    }
    function InitDate(Branch) {
        $.get('@Url.Action("ChangeBusDay", "RegProductNumber")', { BranchID: Branch }, function (data) {
            $('#RegProductNumberDate').empty();
            $('#RegProductNumberReference').empty();
            $.each(data, function (key, value) {
                $('#RegProductNumberDate').val(value.RegProductNumberDate);
                $('#RegProductNumberReference').val(value.RegProductNumberReference);
            });
        }, 'json');
    }
    function InitialiseHeader()
    {
        //header
        var _DefaultId = $('#BranchID').val();
        InitDate(_DefaultId);

    }
    function productitems() {
        $('#OldProductID').val('');
        $('#OldProductID1').val('');
        $('#OldProductCode').val('');

        $('#ProductCategory').val('0');
        $('#NewProductCategory').val('0');

        $('#OldProductNumberID').val('');
        $('#OldProductNumber').val('');

        $('#NewProductID').val('');
        $('#NewProductID1').val('');
        $('#NewProductCode').val('');

        $('#NewProductNumberID').val('');
        $('#NewProductNumber').val('');

        $('#NewLineQuantity').val('0');
    }
    function productitemsansCat() {
        $('#OldProductID').val('');
        $('#OldProductID1').val('');
        $('#OldProductCode').val('');
        $('#OldProductNumberID').val('');
        $('#OldProductNumber').val('');
    }
    function NewproductitemsansCat() {
        $('#NewProductID').val('');
        $('#NewProductID1').val('');
        $('#NewProductCode').val('');
        $('#NewProductNumberID').val('');
        $('#NewProductNumber').val('');
        $('#NewLineQuantity').val('0');
    }
    function hideEquipmentPrice() {
        $('#OldProductID').hide();
        $('#NewProductID').hide();
    }
    function showEquipmentPrice() {
        $('#OldProductID').show();
        $('#NewProductID').show();
    }

    function hideNumeroVerre() {
        $('#NumeroVerre').hide();
        $('#NewNumeroVerre').hide();
        $('#OldProductCode').hide();
        $('#NewProductCode').hide();
    }
    function showNumeroVerre() {
        $('#NumeroVerre').show();
        $('#NewNumeroVerre').show();
        $('#OldProductCode').show();
        $('#NewProductCode').show();
    }
    $(document).on('ready', function () {
        $('#discountbloc').hide();
        //initialosation
        hideEquipmentPrice();
        showNumeroVerre();
        //chargement des agence
        populateBranch();
        populateUsers();

        $(function () {
            $(".datepicker").datepicker({
                format: 'yyyy-mm-dd',
                showButtonPanel: true,
                minDate: 0
            });
        });

        //chargement des magasins
        populateStockedLocations();
        $('#LocalizationID').change(function () {
            productitems();
        });
        //chargement des categories
        GetProductCategory('#OldProductID', '#OldProductNumber', '#OldProductNumberID', '#ProductCategory', '#OldProductID1', '#OldProductCode')
        //GetProductCategory('#ProductCategory', '#OldProductID');
        $('#ProductCategory').change(function () {
            productitemsansCat();
        });
        $('#ProductCategory').change(function () {
            var ProductCategoryID = $('#ProductCategory').val();
            DisableNumero(ProductCategoryID, '#OldProductID', '#OldProductNumber', '#OldProductNumberID', '#ProductCategory', '#OldProductID1', '#OldProductCode');
        });

        ////chargement des nvllecategories
        //GetNewProductCategory();
        //GetProductCategory('#NewProductCategory', '#NewProductID');
        GetProductCategory('#NewProductID', '#NewProductNumber', '#NewProductNumberID', '#NewProductCategory', '#NewProductID1', '#NewProductCode')
        $('#NewProductCategory').change(function () {
            NewproductitemsansCat();
        });
        $('#NewProductCategory').change(function () {
            var NewProductCategoryID = $('#NewProductCategory').val();
            DisableNumero(NewProductCategoryID, '#NewProductID', '#NewProductNumber', '#NewProductNumberID', '#NewProductCategory', '#NewProductID1', '#NewProductCode');
        });


        $('#btnCancelGrid').on('click', function () {
            productitems();
        });


        $('#BranchID').on('change', function () {
            var _DefaultId = $('#BranchID').val();
            InitDate(_DefaultId);
        });
        LoadCommandLinesGrid(false);

        var BranchID = $('#BranchID').val();
        var DateOp = $('#DateOpe').val();
        LoadAllCommandLines(false, BranchID, DateOp);

        $('#DateOperation').on('change', function () {
            var DateOperation = $('#DateOperation').val();
            LoadAllCommandLines(true, BranchID, DateOperation);
        });

        $('#AddToGrid').on('click', function () {
            addToGrid();
        });
        $('#btnCancel').on('click', function () {
            location.reload(true);
            //ClearForm();
        });
        $('#btnSubmit').on('click', function () {
            ValideCommande();
        });
    });

    // Get the Magasin List
    function populateStockedLocations() {
        $.get('@Url.Action("GetAllStockedLocations", "RegProductNumber")', {}, function (data) {
            $('#LocalizationID').empty();
            $('#LocalizationID').append($("<option value='0' selected='selected'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#LocalizationID').append($("<option></option>").val(value.LocalizationID).html(value.LocalizationCode));
            });
        }, 'json');
    }
    // Get the Product category List
    @*function GetProductCategory() {
        $.get('@Url.Action("GetProductCategory", "RegProductNumber")', {}, function (data) {
            $('#ProductCategory').empty();
            $('#ProductCategory').append($("<option value='0' selected='selected'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#ProductCategory').append($("<option></option>").val(value.CategoryID).html(value.CategoryCode));
            });
            var ProductCategoryID = $('#ProductCategory').val();
            DisableNumero(ProductCategoryID);
        }, 'json');
    }*@
    //'#OldProductID'
    function GetProductCategory(ProductIDField, ProductNumberField, ProductNumberIDField, ProductCategoryField, ProductID1Field, ProductCodeField) {
        $.get('@Url.Action("GetProductCategory", "RegProductNumber")', {}, function (data) {
            $(ProductCategoryField).empty();
            $(ProductCategoryField).append($("<option value='0' selected='selected'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $(ProductCategoryField).append($("<option></option>").val(value.CategoryID).html(value.CategoryCode));
            });
            var ProductCategoryID = $(ProductCategoryField).val();
            DisableNumero(ProductCategoryID, ProductIDField, ProductNumberField, ProductNumberIDField, ProductCategoryField, ProductID1Field, ProductCodeField);
        }, 'json');
    }

    function DisableNumero(ProductCategoryID, ProductIDField, ProductNumberField, ProductNumberIDField, ProductCategoryField, ProductID1Field, ProductCodeField) {
        $.get('@Url.Action("DisableNumero", "RegProductNumber")', { ProductCategoryID: ProductCategoryID }, function (data) {
            $('#LensCategory').empty();
            $.each(data, function (key, value) {
                $('#LensCategory').val(value.LensCategory);
            });
            var DepartureLocalizationID = $('#LocalizationID').val();
            //0 = lenscategory
            //1 = equipement / frame
            var LensCategory = $('#LensCategory').val();
            if (LensCategory == 0) {
                hideEquipmentPrice();
                showNumeroVerre();
                if (parseInt(DepartureLocalizationID) > 0) {
                    //GetAllPagingNumbers('#OldProductNumber', '#OldProductNumberID', '#ProductCategory');

                    GetAllPagingNumbers(ProductNumberField, ProductNumberIDField, ProductCategoryField, ProductID1Field, ProductCodeField);
                }
            }
            else {
                showEquipmentPrice();
                hideNumeroVerre();
                if (parseInt(DepartureLocalizationID) > 0) {
                    GetAllEquipementProducts(DepartureLocalizationID, ProductCategoryID, 0, ProductIDField);
                }

            }
        }, 'json');
    }
    @*function GetAllEquipementProducts(DepartureLocalizationID, ProductCategoryID, ProductNumberID) {
        $.get('@Url.Action("GetAllProducts", "RegProductNumber")', { DepartureLocalizationID: DepartureLocalizationID, ProductCategoryID: ProductCategoryID, ProductNumberID: ProductNumberID }, function (data) {
            $('#OldProductID').empty();
            $('#OldProductID').append($("<option value='0' selected='selected'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#OldProductID').append($("<option></option>").val(value.ProductID).html(value.ProductCode));
            });

        }, 'json');
    }*@
    function GetAllEquipementProducts(DepartureLocalizationID, ProductCategoryID, ProductNumberID, ProductIDField) {
        $.get('@Url.Action("GetAllProducts", "RegProductNumber")', { DepartureLocalizationID: DepartureLocalizationID, ProductCategoryID: ProductCategoryID, ProductNumberID: ProductNumberID }, function (data) {
            $(ProductIDField).empty();
            $(ProductIDField).append($("<option value='0' selected='selected'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $(ProductIDField).append($("<option></option>").val(value.ProductID).html(value.ProductCode));
            });
        }, 'json');
    }
    function GetAllPagingNumbers(ProductNumberField, ProductNumberIDField, ProductCategoryField, ProductID1Field, ProductCodeField) {
        //#OldProductNumber
        $(ProductNumberField).autocomplete({
            minLength: 4, // set minimum of 4 characters before search executes.
            delay: 100, // wait 0.1 second after keystroke before search executes.
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetAllNumbers", "RegProductNumber")',
                    type: "POST",
                    dataType: "json",
                    //cache: false,
                    data: { filter: request.term, ProductCategory: $(ProductCategoryField).val(), localization: $('#LocalizationID').val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.LensNumberFullCode, value: item.LensNumberFullCode, id: item.LensNumberID };
                        }))
                    }
                })
            },
            messages: {
                noResults: "No results",
                results: function (count) {
                    return count + (count == 0 ? ' result' : ' results');
                }
            },
            select: function (event, ui) {
                $(ProductNumberIDField).val(ui.item.id);
                var ProductNumberID = $(ProductNumberIDField).val();
                var Localization = $('#LocalizationID').val();
                var ProductCategoryID = $(ProductCategoryField).val();

                //$("#OldProductNumberID").val(ui.item.id);
                //var OldProductNumberID = $('#OldProductNumberID').val();
                //var Localization = $('#LocalizationID').val();
                //var ProductCategoryID = $('#ProductCategory').val();

                OnLensNumberSelected(ProductNumberID, Localization, ProductCategoryID, ProductID1Field, ProductCodeField);
            }
        });
    }

    function OnLensNumberSelected(ProductNumberID, Localization, ProductCategoryID, ProductID1Field, ProductCodeField) {
        $.get('@Url.Action("OnLensNumberSelected", "RegProductNumber")', { ProductNumberID: ProductNumberID, Localization: Localization, ProductCategoryID: ProductCategoryID }, function (data) {
            //$('#OldProductID1').empty();
            //$('#OldProductCode').empty();
            $(ProductID1Field).empty();
            $(ProductCodeField).empty();
            $.each(data, function (key, value) {
                $(ProductID1Field).val(value.ProductID);
                $(ProductCodeField).val(value.ProductCode);
            });
        }, 'json');
    }

    //ajout ds la grille
    function addToGrid() {
        var isAllValid = true;

        if ($('#LocalizationID').val() == "0") {
            isAllValid = false;
            $("#LocalizationID").addClass("invalid-data");
        }
        else {
            $("#LocalizationID").addClass("valid-data");
        }
        //old product
        if ($('#ProductCategory').val() == "0") {
            isAllValid = false;
            $("#ProductCategory").addClass("invalid-data");
        }
        else {
            $("#ProductCategory").addClass("valid-data");
        }
        var OldProductID = 0;
        var LensCategory = $('#LensCategory').val();
        if (LensCategory == 0) {
            if ($('#OldProductID1').val() == "0") {
                isAllValid = false;
                $("#OldProductID1").addClass("invalid-data");
            }
            else {
                $("#OldProductID1").addClass("valid-data");
                OldProductID = $('#OldProductID1').val();
            }
        }
        else //equipement et frame
        {

            if ($('#OldProductID').val() == "0") {
                isAllValid = false;
                $("#OldProductID").addClass("invalid-data");
            }
            else {
                $("#OldProductID").addClass("valid-data");
                OldProductID = $('#OldProductID').val();
            }

        }
        //new product
        if ($('#NewProductCategory').val() == "0") {
            isAllValid = false;
            $("#NewProductCategory").addClass("invalid-data");
        }
        else {
            $("#NewProductCategory").addClass("valid-data");
        }
        var NewProductID = 0;
        var LensCategory = $('#LensCategory').val();
        if (LensCategory == 0) {
            if ($('#NewProductID1').val() == "0") {
                isAllValid = false;
                $("#NewProductID1").addClass("invalid-data");
            }
            else {
                $("#NewProductID1").addClass("valid-data");
                NewProductID = $('#NewProductID1').val();
            }
        }
        else //equipement et frame
        {

            if ($('#NewProductID').val() == "0") {
                isAllValid = false;
                $("#NewProductID").addClass("invalid-data");
            }
            else {
                $("#NewProductID").addClass("valid-data");
                NewProductID = $('#NewProductID').val();
            }

        }

        var data = {
            OldProductID: OldProductID,
            LocalizationID: $.trim($('#LocalizationID').val()),
            NewProductID: NewProductID,
            TMPID: $.trim($('#TMPID').val()),
            NewLineQuantity: $.trim($('#NewLineQuantity').val()),
            ProductCategory: $.trim($('#ProductCategory').val()),
            NewProductCategory: $.trim($('#NewProductCategory').val())
        }
        $(this).val('Please wait...');
        if (isAllValid) {
            $.ajax({
                url: '@Url.Action("AddRegProductNumberLine", "RegProductNumber")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    //check is successfully save to database
                    if (d.status == true) {
                        LoadCommandLinesGrid(true);
                        //clear form
                        productitemsansCat();
                        NewproductitemsansCat();
                    }
                    else {
                        alert(d.Message);
                    }
                    $('#AddToGrid').val('@Resources.AddProdCady');
                },
                error: function () {
                    alert('Error. Please try again.');
                    $('#AddToGrid').val('@Resources.AddProdCady');
                }
            });
        }
    }
    function ClearForm() {
        InitialiseHeader();
        productitems();
        LoadCommandLinesGrid(true);
        var BranchID = $('#BranchID').val();
        var DateOp = $('#DateOpe').val();
        LoadAllCommandLines(true, BranchID, DateOp);
        $('#btnSubmit').prop('disabled', false);
    }
    //chargement d'une commandes d'un client
    function LoadCommandLinesGrid(test) {

        if (test)
        {
            $('#CommandLinesGrid').dataTable().fnDestroy();
        }
        var oTable = $('#CommandLinesGrid');

        oTable = $('#CommandLinesGrid').dataTable({
            "paging": true,
            "pageLength": 4,
            "lengthMenu": [[4, 8, 12, -1], [4, 8, 12, "All"]],
            "searching": false,
            "ordering": true,
            "pagingType": "full_numbers",
            "columnDefs": [
                    { "visible": false, "targets": 0 }
            ],
            // Ajax call
            "ajax": "@Url.Action("RegProductNumberLines", "RegProductNumber")",

            "columns": [
                { "data": "TMPID" },
                { "data": "OldProductLabel", "width": "30%" },
                { "data": "NewProductLabel", "width": "30%" },
                { "data": "Localization", "width": "30%" },
                { "data": "NewLineQuantity", "width": "10%" },
                {// this is Actions Column
                    mRender: function (data, type, row) {
                        return '<a href="#" class="editor_remove" onclick="RemoveCustomerOrderLine(' + row.TMPID + ')"><span class="glyphicon glyphicon-trash"></span></a>'
                    }
                }
            ]
    });
    }
    function RemoveCustomerOrderLine(obj) {
        var globalID = obj;

        $.get('@Url.Action("RemoveRegProductNumberLine", "RegProductNumber")', { TMPID: parseInt(globalID) }, function (data) {
            $.each(data, function (key, value) {
                LoadCommandLinesGrid(true);
                productitems();
            });
        }, 'json');

    }
    //chargement d'une commandes d'un client
    function LoadAllCommandLines(test, BranchID, ReloadRegProductNumberDate) {

        if (test)
        {
            $('#mainTable').dataTable().fnDestroy();
        }
        var oTable = $('#mainTable');

        oTable = $('#mainTable').dataTable({
            "paging": true,
            "pageLength": 4,
            "lengthMenu": [[4, 8, 12, -1], [4, 8, 12, "All"]],
            "searching": false,
            "ordering": true,
            "pagingType": "full_numbers",
            //"columnDefs": [
            //        { "visible": false, "targets": 0 }
            //],

            // Ajax call
            "ajax": {
                "url": "@Url.Action("GetAllPendingRegProductNumbers", "RegProductNumber")",
                "type": "GET",
                "datatype": "json",
                "data": { BranchID: BranchID, ReloadRegProductNumberDate: ReloadRegProductNumberDate }
            },
            "columns": [
                { "data": "RegProductNumberID" },
                { "data": "RegProductNumberReference", "width": "30%" },
                { "data": "RegProductNumberDate", "width": "10%" },
                { "data": "Branch", "width": "20%" },
                { "data": "AutorizedByID", "width": "10%" },
                {// this is Actions Column
                    mRender: function (data, type, row) {

                        var deleteOption = '@LoadAction.IsSubMenuActionAble(MenuAction.DELETE, @profile, CodeValue.Supply.RegProductNumber.CODE, db)';
                        var showDel=(deleteOption=='False') ? '<a href=# class="editor_remove" onclick="DeleteItem(this)"><span class="glyphicon glyphicon-trash"></span></a>':'';

                        var printOption = '@LoadAction.IsSubMenuActionAble(MenuAction.UPDATE, @profile, CodeValue.Supply.RegProductNumber.CODE, db)';
                        var showPrint=(printOption=='False') ? '<a href="@Url.Action("GenerateReceipt", "RegProductNumber", new { RegProductNumberID = -1 })" class="editor_remove"><span class="glyphicon glyphicon-print"></span></a>':'';
                        showPrint = showPrint.replace("-1", row.RegProductNumberID);
                        //return showDel + " | " + showPrint;
                        return  showPrint;
                    }
                }
            ]
    });
    }

    //validation d'une commande
    function ValideCommande() {

        var isAllValid = true;
        if ($('#BranchID').val() == '') {
            isAllValid = false;
            $("#BranchID").addClass("invalid-data");
        }
        else {
            $("#BranchID").addClass("valid-data");
        }

        if ($('#RegProductNumberDate').val() == '') {
            isAllValid = false;
            $("#RegProductNumberDate").addClass("invalid-data");
        }
        else {
            $("#RegProductNumberDate").addClass("valid-data");
        }
        if ($('#RegProductNumberReference').val() == '') {
            isAllValid = false;
            $("#RegProductNumberReference").addClass("invalid-data");
        }
        else {
            $("#RegProductNumberReference").addClass("valid-data");
        }

        if ($('#AutorizedByID').val() == '0') {
            isAllValid = false;
            $("#AutorizedByID").addClass("invalid-data");
        }
        else {
            $("#AutorizedByID").addClass("valid-data");
        }


        if (isAllValid) {


            var data = {

                RegProductNumberReference: $('#RegProductNumberReference').val().trim(),
                RegProductNumberDate: $('#RegProductNumberDate').val(),
                RegProductNumberID: $('#RegProductNumberID').val(),
                BranchID: $('#BranchID').val().trim(),
                AutorizedByID: $('#AutorizedByID').val(),
            }
            $(this).val('Please wait...');
            $('#btnSubmit').prop('disabled', true);
            //post data to server
            $.ajax({
                url: '@Url.Action("AddManager", "RegProductNumber")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    //check is successfully save to database
                    if (d.status == true) {
                        //will send status from server side
                        alert(d.Message);
                        ClearForm();
                    }
                    else {
                        alert(d.Message);
                    }
                },
                error: function (response) {
                    alert('Error. Please try again.');
                }
            });
        }

    }
    //supression commande en attente
    function DeleteItem(obj) {
        if (confirm("@Resources.ConfirmDeleteMessage")) {
            var globalID = $(obj).parent().siblings(":first").text();
            //post to the server
            $(this).val('Please wait...');
            var data = {
                RegProductNumberID: parseInt(globalID)
            }
            //post data to server
            $.ajax({
                url: '@Url.Action("DeleteRegProductNumber", "RegProductNumber")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    //check is successfully save to database
                    if (d.status == true) {
                        //will send status from server side
                        alert(d.Message);
                        location.reload(true);
                        //ClearForm();
                    }
                    else {
                        alert(d.Message);
                    }
                    $('#btnSubmit').val('@Resources.SaveButton');
                },
                error: function (response) {
                    alert('Error. Please try again.');
                    $('#btnSubmit').val('@Resources.SaveButton');
                }
            });
        }

    }
</script>