@using FatSod.Ressources;
@using FatSod.Supply.Entities;
@using FatSod.DataContext.Initializer;
@using CABOPMANAGEMENT.Tools;

@{
    ViewBag.Title = @Resources.CCM_CTRL;

    Layout = "~/Views/Shared/_Layout.cshtml";
    var profile = (int)Session["UserProfile"];
    var user = (int)Session["UserID"];
    var db = new FatSod.DataContext.Concrete.EFDbContext();

}
<div class="box box-primary box-body">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <div class="panel panel-default">
                    <div class="panel-body2">
                        <div id="searchForm" class="row ipt">
                            <div class="col-sm-2">@Resources.UIBeginDate</div>
                            <div class="col-sm-3">
                                <input class="form-control datepicker checkDateNoGraterThanToday" id="startDate" type="text" placeholder="choose sale date" value="@ViewBag.OperationDate">
                            </div>

                            <div class="col-sm-2">@Resources.UIEndDate</div>
                            <div class="col-sm-3">
                                <input class="form-control datepicker checkDateNoGraterThanToday" id="endDate" type="text" placeholder="choose sale date" value="@ViewBag.OperationDate">
                            </div>

                            <div class="col-sm-2">
                                <button id="btnSearch" class="btn btn-primary btn-success">@Resources.Search</button>
                            </div>

                        </div>
                        <table class="table" id="mainTable">
                            <thead>
                                <tr class="dataTableHead">
                                    <th>@Resources.UIDateOperation</th>
                                    <th>@Resources.Customer</th>
                                    <th>@Resources.Complaint</th>
                                    <th>@Resources.TechnicianComment</th>
                                    <th>@Resources.SolvedBy</th>
                                    <th>@Resources.Value</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
    </div>
    <div id="ControlForm">
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>@Resources.Justification</legend>
                    <div class="panel" style="background-color: #99bce8;">
                        <div class="panel-body">
                            <input type="hidden" id="CustomerComplaintId" />
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @Resources.ControllerComment
                                        </div>
                                        <div class="col-sm-12">
                                            <textarea class="complaint-textarea form-control" id="ControllerComment"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="row ipt">
                                        <div class="col-sm-12">@Resources.ControlledBy<code>(*)</code></div>
                                        <div class="col-sm-12">
                                            <select id="ComplaintControllerId" class="form-control"></select><br />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="margin-left:10%;margin-top:10px;">
                <button id="btnCancel" class="btn btn-primary btn-danger">@Resources.ResetButton</button>
            </div>
            <div class="col-sm-2" style="margin-top:10px;">
                <button id="btnSubmit" class="btn btn-primary btn-success">@Resources.ValidateButton</button>
            </div>

        </div>
    </div>
</div>

<!-- Css Begins Here -->

<style>
    .invalid-data {
        border: 1px solid red;
    }

    .valid-data {
        border: 1px solid #ccc;
    }

    .ipt {
        margin-bottom: 6px;
    }

    #img-upload {
        width: 100%;
    }

    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    #after_manual_posting_yes {
        margin-right: 15px;
    }

    fieldset {
        /*border: 1px solid #ddd !important;*/
        margin-left: 10px;
        min-width: 0;
        padding: 0px;
        position: relative;
        border-radius: 4px;
        background-color: #99bce8;
        padding-left: 10px !important;
    }

    .panel-body {
        height: 70px;
    }

    .panel-body1 {
        height: 100px;
        margin-top: 5px;
        /*margin-left: 15%;*/
    }

    .panel-body2 {
        height: 225px;
        /*margin-top: 10px;*/
        margin-left: 10px;
        margin-right: 10px;
    }

    .panel-body3 {
        height: 75px;
        margin-top: 5px;
        /*margin-left: 15%;*/
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        /* width: 100%; */
        /*border: 1px solid #ddd;*/
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #99bce8;
        /* margin-top: 10px;*/
    }

    #searchForm {
        padding-bottom: 30px;
        background-color: #99bce8;
        padding-top: 20px;
    }

    #ControlForm {
        margin-top: 20px;
    }
</style>

<script>

    function getCustomerComplaints(test) {

        var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();

        $('#ControlForm').hide();
        if (test) {
            $('#mainTable').dataTable().fnDestroy();
        }
        var oTable = $('#mainTable');
        oTable = $('#mainTable').dataTable({
            fixedColumns: true,
            "paging": true,
            "pageLength": 4,
            "lengthMenu": [[4, 8, 12, -1], [4, 8, 12, "All"]],
            "searching": true,
            "ordering": true,
            "pagingType": "full_numbers",
            // Ajax call
            "ajax": {
                "url": "@Url.Action("getCustomerComplaints", "ComplaintControlled")",
                //"type": "GET",
                "datatype": "json",
                "data": { startDate: startDate, endDate: endDate }
            },

            "columns": [
                { "data": "DisplayDate", "width": "5%" },
                { "data": "Customer", "width": "10%" },
                { "data": "Complaint", "width": "35%" },
                { "data": "ResolverComment", "width": "30%" },
                { "data": "Resolver", "width": "10%" },

                { "data": "CustomerValue", "width": "5%" },
                {// this is Actions Column
                    mRender: function (data, type, row) {
                        var addOption = '@LoadAction.IsSubMenuActionAble(MenuAction.ADD, @profile, CodeValue.CCM.ComplaintControlled.CODE, db)';
                        var T_addOption = (addOption == 'False') ? '<a href="#" class="editor_remove" onclick="GetDetails(' + row.CustomerComplaintId + ',' + row.ComplaintQuotationId + ')"><span class="glyphicon glyphicon-edit"></a>' : '';
                        return T_addOption;
                    }
                }
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                if (aData.CustomerValue == 'VIP') {
                    $(nRow).addClass('vip');
                }

                if (aData.Occurrences >= 2) {
                    $(nRow).addClass('urgent-sale');
                }
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel'
            ]
        });

    }

    function GetDetails(CustomerComplaintId, profileId) {
        populateControllers(profileId);

        var customerComplaint = getEmptyCustomerComplaint();
        customerComplaint.CustomerComplaintId = CustomerComplaintId;
        $('#ControlForm').show();
        initControlForm(customerComplaint);
    }

    function validateControlForm() {
        var isAllValid = true;
        if ($('#CustomerComplaintId').val() == 0 || $('#CustomerComplaintId').val().trim() == '0') {
            isAllValid = false;
            $("#CustomerComplaintId").addClass("invalid-data");
        }
        else {
            $("#CustomerComplaintId").addClass("valid-data");
        }
        var ComplaintControllerId = $('#ComplaintControllerId').val();
        console.log("ComplaintControllerId => ", ComplaintControllerId);
        if (ComplaintControllerId == 0 || ComplaintControllerId.trim() == '0') {
            isAllValid = false;
            $("#ComplaintControllerId").addClass("invalid-data");
        }
        else {
            $("#ComplaintControllerId").addClass("valid-data");
        }

        if ($('#ControllerComment').val() == 0 || $('#ControllerComment').val().trim() == '0') {
            isAllValid = false;
            $("#ControllerComment").addClass("invalid-data");
        }
        else {
            $("#ControllerComment").addClass("valid-data");
        }

        return isAllValid;
    }


    function ControlCustomerComplaint() {
        console.log('Data To Persist ');
        var isAllValid = validateControlForm();;

        if (isAllValid) {
            var data = getControlFormData();
            console.log('Data To Persist ', data);
            $(this).val('Please wait...');

            //post data to server
            $.ajax({
                url: '@Url.Action("ControlCustomerComplaint", "ComplaintControlled")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    //check is successfully save to database
                    if (d.status == true) {
                        //will send status from server side
                        alert(d.Message);
                        //reinitialisation des champs
                        getCustomerComplaints(true);
                        // location.reload(true);
                    }
                    else {
                        alert(d.Message);
                    }
                },
                error: function (response) {
                    console.log(response);
                    alert('Error. Please try again.', response);
                }
            });
        }
    }

    function initControlForm(customerComplaint) {
        $('#CustomerComplaintId').val(customerComplaint.CustomerComplaintId);
        $('#ControllerComment').val(customerComplaint.ControllerComment);
        $('#ComplaintControllerId').val(customerComplaint.ComplaintControllerId);
    }

    function getEmptyCustomerComplaint() {
        var customerComplaint = {
            ControllerComment: "",
            ComplaintControllerId: 0,
            CustomerComplaintId: 0,
        };
        return customerComplaint;
    }

    function populateControllers(profileId) {
        console.log("Populate Profile ", profileId);
        $.get('@Url.Action("GetControllers", "ComplaintControlled")', { profileId: profileId }, function (data) {
            console.log("Profiles ", data);
            $('#ComplaintControllerId').empty();
            $('#ComplaintControllerId').append($("<option value='0'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#ComplaintControllerId').append($("<option></option>").val(value.ID).html(value.Name));
            });
        }, 'json');
    }

    function getControlFormData() {
        var customerComplaint = {
            ControllerComment: $('#ControllerComment').val(),
            ComplaintControllerId: $('#ComplaintControllerId').val(),
            CustomerComplaintId: $('#CustomerComplaintId').val(),
        };
        return customerComplaint;
    }
    $(document).on('ready', function () {

        $(function () {
            $(".datepicker").datepicker({
                format: 'yyyy-mm-dd'
            });
        });

        $('#ControlForm').hide();

        $('#btnSearch').on('click', function () {
            $('#ControlForm').hide();
            getCustomerComplaints(true);
        });

        $('#btnSubmit').on('click', function () {
            ControlCustomerComplaint();
        });

        $('#btnCancel').on('click', function () {
            // location.reload(true);
            initControlForm(getEmptyCustomerComplaint());
        });

        getCustomerComplaints(false);

    });
</script>