@using FatSod.Ressources;
@using FatSod.DataContext.Initializer;
@using CABOPMANAGEMENT.Tools;

@{
    ViewBag.Title = @Resources.RptDeletedBill;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var profile = (Session["UserProfile"] == null) ? 0 : (int)Session["UserProfile"];
    var user = (Session["UserID"] == null) ? 0 : (int)Session["UserID"];
    var db = new FatSod.DataContext.Concrete.EFDbContext();
}

@if (TempData["Message"] != null)
{
    @Html.Raw(TempData["Message"])
}

<h4>@Resources.UIRptDeletedBillTitle</h4>
<div class="box box-primary box-body" id="SaleValideForm">
    <div class="row">
        <fieldset class="col-md-12">
            <input class="form-control input-sm" id="DisplayForm" type="hidden" value="@ViewBag.DisplayForm">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="row ipt">
                            <!-- Branche -->
                            <div class="col-sm-3" style="margin-left:50px;">@Resources.Branches</div>
                            <div class="col-sm-3" style="margin-left:-100px;">
                                <input type="hidden" id="DefaultBranchID" value="@ViewBag.CurrentBranch" />
                                <select id="BranchID" class="input-sm form-control"></select>
                            </div>
                            <!-- Till -->
                            <div class="col-sm-3">@Resources.Insurance</div>
                            <div class="col-sm-3" style="margin-left:-100px;">
                                <input type="text" id="Assureur" placeholder="@Resources.Select" class="form-control">
                                <input type="hidden" id="AssureurID" class="form-control">
                            </div>
                        </div>
                        <div class="row ipt">
                            <div class="col-sm-3" style="margin-left:50px;">@Resources.UIBeginDate</div>
                            <div class="col-sm-3" style="margin-left:-100px;">
                                <input class="form-control datepicker" id="BeginDate" type="text" placeholder="choose Begin date" value="@ViewBag.BusnessDayDate">
                            </div>
                            <div class="col-sm-3">@Resources.UIEndDate</div>
                            <div class="col-sm-3" style="margin-left:-100px;">
                                <input class="form-control datepicker checkDateNoGraterThanToday" id="EndDate" type="text" placeholder="choose End date">
                            </div>
                        </div>
                    </div>
                    <div class="row ipt">
                        <div class="col-sm-2" style="margin-left:-20px;margin-top:10px;">
                            <button id="btnSave" class="btn btn-primary">@Resources.UIDisplayEntries</button>
                        </div>
                        <div class="col-sm-2" style="margin-left:-20px;margin-top:20px;">@Resources.TotalAmount</div>
                        <div class="col-sm-2" style="margin-left:-60px;margin-top:10px;">
                            <input class="form-control input-sm" id="TotMntFacture" type="text" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <div class="panel-body2">
            <table class="table" id="mainTable">
                <thead>
                    <tr class="dataTableHead">
                        <th>ID</th>
                        <th>@Resources.PersonName</th>
                        <th>@Resources.Company</th>
                        <th>@Resources.Assureur</th>
                        <th>@Resources.UIDateOperation</th>
                        <th>@Resources.BillNumber</th>
                        <th>@Resources.Reason</th>
                        <th>@Resources.BillAmount</th>
                        <th>Action</th>
                    </tr>
                </thead>

            </table>

        </div>
    </div>

    
</div>
<!-- Css Begins Here -->

<style>
    .invalid-data {
        border: 1px solid red;
    }

    .valid-data {
        border: 1px solid #ccc;
    }

    .ipt {
        margin-top: 3px;
        margin-bottom: 6px;
    }

    #img-upload {
        width: 100%;
    }

    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    #after_manual_posting_yes {
        margin-right: 15px;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin-left: 10px;
        min-width: 0;
        padding: 0px;
        position: relative;
        border-radius: 4px;
        background-color: #99bce8;
        padding-left: 10px !important;
    }

    .panel-body {
        height: 85px;
    }

    .panel-body1 {
        height: 100px;
        margin-top: 5px;
        /*margin-left: 15%;*/
    }

    .panel-body2 {
        height: 215px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .panel-body3 {
        height: 75px;
        margin-top: 5px;
        /*margin-left: 15%;*/
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 70%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>

<!--********** JavaScripts **********-->
<script>
    function showDeleteDetail()
    {
        $('#DeleteDetail').show();
    }

    function hideDeleteDetail() {
        $('#DeleteDetail').hide();
    }
    function InitTotaux() {
        $('#TotMntFacture').val('0');
    }
    //chargement des elemts de totaux apres le click sur afficher
    function loadTotaux(BranchID, Begindate, EndDate, Assureur) {
        //chargement detail
        $.get('@Url.Action("chargeSolde", "RptDeletedBill")', { BranchID: BranchID, Bdate: Begindate, Edate: EndDate, AssureurID: Assureur }, function (data) {
            $.each(data, function (key, value) {
                $('#TotMntFacture').val(value.TotMntFacture);
            });
        }, 'json');

    }
    // Get the Branch List
    function populateBranch() {
        $.get('@Url.Action("GetOpenedBranches", "RptDeletedBill")', {}, function (data) {
            $('#BranchID').empty();
            $('#BranchID').append($("<option value='0'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#BranchID').append($("<option></option>").val(value.BranchID).html(value.BranchName));
            });
            var _DefaultId = $('#DefaultBranchID').val();
            $('#BranchID').val(_DefaultId);

        }, 'json');
    }
    // Get the Assureur List
    function populateAssureur() {

        $("#Assureur").autocomplete({
            minLength: 1, // set minimum of 1 characters before search executes.
            delay: 100, // wait 0.1 second after keystroke before search executes.
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("LoadAssureurs", "RptDeletedBill")',
                    type: "POST",
                    dataType: "json",
                    //cache: false,
                    data: { filter: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name, id: item.ID };
                        }))
                    }
                })
            },
            messages: {
                noResults: "No results",
                results: function (count) {
                    return count + (count == 0 ? ' result' : ' results');
                }
            },
            select: function (event, ui) {
                $("#AssureurID").val(ui.item.id);
            }
        });
    }



    //chargement du tableau apres le click sur le bouton afficher
    function LoadGrid(test, BranchID, AssureurID, Begindate, EndDate) {
        if (test) {
            $('#mainTable').dataTable().fnDestroy();
        }
        var oTable = $('#mainTable');
        oTable = $('#mainTable').dataTable({
            fixedColumns: true,
            "paging": true,
            "pageLength": 10,
            "lengthMenu": [[10, 20, 30, -1], [10, 20, 30, "All"]],
            "searching": true,
            "ordering": true,
            "pagingType": "full_numbers",
            //"columnDefs": [
            //        { "visible": false, "targets": 0 }
            //],
            "order": [[2, 'asc']],
            // Ajax call
            "ajax": {
                "url": "@Url.Action("ModelBillInsure", "RptDeletedBill")",
                "type": "GET",
                "datatype": "json",
                "data": { BranchID: BranchID, Begindate: Begindate, EndDate: EndDate, AssureurID: AssureurID }
            },
            "columns": [
                { "data": "CustomerOrderID", "width": "1%" },
                { "data": "CustomerName", "width": "20%" },
                { "data": "CompanyName", "width": "13%" },
                { "data": "InsuranceCompany", "width": "15%" },
                { "data": "CustomerOrderDate", "width": "8%" },
                { "data": "NumeroFacture", "width": "8%" },
                { "data": "DeleteReason", "width": "18%" },
                { "data": "MntAssureur", "width": "8%" },
                {// this is Actions Column
                    mRender: function (data, type, row) {
                        var printOption = '@LoadAction.IsSubMenuActionAble(MenuAction.UPDATE, @profile, CodeValue.Sale.Report.RptDeletedBill, db)';

                        var currentcompany = '@ViewBag.currentcompany';
                        var showPrint = (printOption == 'False') ? (currentcompany.includes("GOLDEN")) ? '<a href="@Url.Action("RptFactureGolden", "ReportsHome", new { Area = "", CustomerOrderID = -1 })" class="editor_remove"><span class="glyphicon glyphicon-print"></span></a>' : '<a href="@Url.Action("RptFactureValidate", "ReportsHome", new { Area = "", CustomerOrderID = -1 })" class="editor_remove"><span class="glyphicon glyphicon-print"></span></a>' : '';
                        showPrint = showPrint.replace("-1", row.CustomerOrderID);

                        @*var showPrint = (printOption == 'False') ? '<a href="@Url.Action("RptFactureValidate", "ReportsHome", new { Area = "", CustomerOrderID = -1 })" class="editor_remove"><span class="glyphicon glyphicon-print"></span></a>' : '';*@
                        showPrint = showPrint.replace("-1", row.CustomerOrderID);

                        return showPrint ;
                    }
                }
            ],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel'
            ]

        });

    }


    $(document).on('ready', function () {
        if ($('#DisplayForm').val().trim() == 0) {
            $("#SaleValideForm").hide();
        }
        else {
            $("#SaleValideForm").show();
        }
        hideDeleteDetail();

        $(function () {
            $(".datepicker").datepicker({
                format: 'yyyy-mm-dd'
            });
        });
        InitTotaux();
        populateBranch();
        populateAssureur();



        var BranchID = '0';
        var AssureurID = '0';
        var BeginDate = '1900-01-01';
        var EndDate = '1900-01-01';
        LoadGrid(false, BranchID, AssureurID, BeginDate, EndDate);
        $("#btnSave").on('click', function () {
            BranchID = $("#BranchID").val();
            AssureurID = $("#AssureurID").val();
            BeginDate = $("#BeginDate").val();
            EndDate = $("#EndDate").val();
            LoadGrid(true, BranchID, AssureurID, BeginDate, EndDate);
            loadTotaux(BranchID, BeginDate, EndDate, AssureurID);
            $("#AssureurID").val('0');
        });


    });
</script>
