@using FatSod.Ressources;
@using FatSod.DataContext.Initializer;
@using CABOPMANAGEMENT.Tools;

@model IEnumerable<FatSod.Supply.Entities.InventoryDirectory>
@{
    ViewBag.Title = @Resources.b_InventoryDirectory;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var profile = (Session["UserProfile"] == null) ? 0 : (int)Session["UserProfile"];
    var user = (Session["UserID"] == null) ? 0 : (int)Session["UserID"];

    var db = new FatSod.DataContext.Concrete.EFDbContext();

}

<div class="box box-primary box-body">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>@Resources.b_InventoryDirectory Information</legend>

                <div class="panel panel-default">
                    <div class="panel-body1">
                        <div class="row ipt" style="margin-top:2px;">
                            <input type="hidden" id="InventoryDirectoryID" />
                            <input type="hidden" id="LensCategory" />
                            <input type="hidden" id="InventoryDirectoryLineID" />
                            <input type="hidden" id="TMPID" value="0" />

                            <div class="col-sm-2">@Resources.Branches<code>(*)</code></div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <input type="hidden" id="DefaultBranchID" value="@ViewBag.CurrentBranch" />
                                    <select id="BranchID" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row ipt" style="margin-top:2px;">
                            <div class="col-sm-2">@Resources.UIDateOperation</div>
                            <div class="col-sm-4">
                                <input type="text" id="InventoryDirectoryCreationDate" class="input-sm form-control" readonly />
                            </div>
                            <div class="col-sm-2" style="margin-right:-20px;">@Resources.Reference</div>
                            <div class="col-sm-4">
                                <input class="form-control input-sm" id="InventoryDirectoryReference" type="text" readonly>
                            </div>
                        </div>
                        <div class="row ipt" style="margin-top:2px;">
                            <div class="col-sm-2">@Resources.Description</div>
                            <div class="col-sm-6">
                                <textarea class="form-control input-sm" id="InventoryDirectoryDescription" type="text"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row" style="margin-top:-50px;">
        <div class="col-md-6">
            <fieldset>
                <legend>@Resources.AddProdCady</legend>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row ipt">
                            <div class="col-sm-4">@Resources.Localization<code>(*)</code></div>
                            <div class="row">
                                <div class="col-sm-7" style="margin-left:-25px;">
                                    <select id="LocalizationID" class="input-sm form-control"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">@Resources.Categories</div>
                            <div class="row">
                                <div class="col-sm-7" style="margin-left:-25px;">
                                    <select id="ProductCategory" class="input-sm form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row ipt" id="NumeroVerre">
                            <div class="col-sm-4">@Resources.SelectNumber</div>
                            <div class="row">
                                <div class="col-sm-7" style="margin-left:-25px;">
                                    <input class="form-control" id="ProductNumber" type="text">
                                    <input class="form-control" id="ProductNumberID" type="hidden">
                                </div>
                            </div>
                        </div>
                        <div class="row ipt">
                            <div class="col-sm-4">@Resources.Productlabel<code>(*)</code></div>
                            <div class="row">
                                <div class="col-sm-7" style="margin-left:-25px;">
                                    <select id="ProductID" class="input-sm form-control"></select>
                                    <input id="ProductID1" type="hidden" class="input-sm form-control">
                                    <input id="ProductCode" type="text" class="input-sm form-control" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-5">
                                <button type="submit" class="btn btn-primary" id="AddToGrid">@Resources.AddProdCady</button>
                            </div>
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-4">
                                <button type="button" id="btnCancelGrid" class="btn btn-primary">@Resources.ResetButton</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset>
                <legend>@Resources.CadyContent</legend>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table" id="CommandLinesGrid">
                            <thead>
                                <tr class="dataTableHead">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        @Resources.Designation
                                    </th>
                                    <th>
                                        @Resources.Localization
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
        <br />
        <!-- Save and Reset Buttons -->
        <div class="row">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary btn-success" id="btnSubmit">@Resources.SaveButton</button>
            </div>
            <div class="col-sm-2">
                <button type="button" id="btnCancel" class="btn btn-primary btn-danger">@Resources.ResetButton</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                @*<legend>@Resources.inventoryDirectoryList</legend>*@
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table" id="mainTable">
                            <thead>
                                <tr class="dataTableHead">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        @Resources.Branches
                                    </th>
                                    <th>
                                        @Resources.Reference
                                    </th>
                                    <th>
                                        @Resources.CreationDate
                                    </th>
                                    <th>
                                        @Resources.Description
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<!--css detail-->
<style>
    .invalid-data {
        border: 1px solid red;
    }

    .valid-data {
        border: 1px solid #ccc;
    }

    .ipt {
        margin-bottom: 3px;
        margin-left: 1px;
    }

    #img-upload {
        width: 100%;
    }

    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    #after_manual_posting_yes {
        margin-right: 15px;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        min-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #99bce8;
        padding-left: 10px !important;
    }

    .panel-body {
        height: 180px;
    }

    .panel-body1 {
        height: 110px;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 70%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>
<!--javascript-->
<script>
    // Get the Branch List
    function populateBranch() {
        $.get('@Url.Action("OpenedBusday", "InventoryDirectory")', {}, function (data) {
            $('#BranchID').empty();
            $('#BranchID').append($("<option value='0'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#BranchID').append($("<option></option>").val(value.BranchID).html(value.BranchName));
            });
            var _DefaultId = $('#DefaultBranchID').val();
            $('#BranchID').val(_DefaultId);
            InitDate(_DefaultId);
        }, 'json');
    }
    function InitDate(Branch) {
        $.get('@Url.Action("ChangeBusDay", "InventoryDirectory")', { BranchID: Branch }, function (data) {
            $('#InventoryDirectoryCreationDate').empty();
            $('#InventoryDirectoryReference').empty();
            $.each(data, function (key, value) {
                $('#InventoryDirectoryCreationDate').val(value.InventoryDirectoryCreationDate);
                $('#InventoryDirectoryReference').val(value.InventoryDirectoryReference);
            });
        }, 'json');
    }
    function InitialiseHeader()
    {
        //header
        var _DefaultId = $('#BranchID').val();
        InitDate(_DefaultId);
        $('#InventoryDirectoryDescription').val('');

    }
    function productitems() {
        $('#ProductID').val('');
        $('#ProductID1').val('');
        $('#ProductCode').val('');
        $('#ProductCategory').val('0');
        $('#ProductNumberID').val('');
        $('#ProductNumber').val('');
    }
    function productitemsansCat() {
        $('#ProductID').val('');
        $('#ProductID1').val('');
        $('#ProductCode').val('');
        $('#ProductNumberID').val('');
        $('#ProductNumber').val('');
    }
    function hideEquipmentPrice() {
        $('#ProductID').hide();

    }
    function showEquipmentPrice() {
        $('#ProductID').show();

    }

    function hideNumeroVerre() {
        $('#NumeroVerre').hide();
        $('#ProductCode').hide();
    }
    function showNumeroVerre() {
        $('#NumeroVerre').show();
        $('#ProductCode').show();
    }
    $(document).on('ready', function () {
        $('#discountbloc').hide();
        //initialosation
        hideEquipmentPrice();
        showNumeroVerre();
        //chargement des agence
        populateBranch();

        //chargement des magasins
        populateStockedLocations();
        $('#LocalizationID').change(function () {
            productitems();
        });
        //chargement des categories
        GetProductCategory();
        $('#ProductCategory').change(function () {
            productitemsansCat();
        });
        $('#ProductCategory').change(function () {
            var ProductCategoryID = $('#ProductCategory').val();
            DisableNumero(ProductCategoryID);
        });
        $('#btnCancelGrid').on('click', function () {
            productitems();
        });

        LoadCommandLinesGrid(false);
        LoadAllCommandLines(false);
        $('#AddToGrid').on('click', function () {
            addToGrid();
        });
        $('#btnCancel').on('click', function () {
            //location.reload(true);
            ClearForm();
        });
        $('#btnSubmit').on('click', function () {
            ValideCommande();
        });
    });

    // Get the Magasin List
    function populateStockedLocations() {
        $.get('@Url.Action("GetAllStockedLocations", "InventoryDirectory")', {}, function (data) {
            $('#LocalizationID').empty();
            $('#LocalizationID').append($("<option value='0' selected='selected'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#LocalizationID').append($("<option></option>").val(value.LocalizationID).html(value.LocalizationCode));
            });
        }, 'json');
    }
    // Get the Product category List
    function GetProductCategory() {
        $.get('@Url.Action("GetProductCategory", "InventoryDirectory")', {}, function (data) {
            $('#ProductCategory').empty();
            $('#ProductCategory').append($("<option value='0' selected='selected'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#ProductCategory').append($("<option></option>").val(value.CategoryID).html(value.CategoryCode));
            });
            var ProductCategoryID = $('#ProductCategory').val();
            DisableNumero(ProductCategoryID);
        }, 'json');
    }

    function DisableNumero(ProductCategoryID) {
        $.get('@Url.Action("DisableNumero", "InventoryDirectory")', { ProductCategoryID: ProductCategoryID }, function (data) {
            $('#LensCategory').empty();
            $.each(data, function (key, value) {
                $('#LensCategory').val(value.LensCategory);
            });
            var DepartureLocalizationID = $('#LocalizationID').val();
            //0 = lenscategory
            //1 = equipement / frame
            var LensCategory = $('#LensCategory').val();
            if (LensCategory == 0) {
                hideEquipmentPrice();
                showNumeroVerre();
                if (parseInt(DepartureLocalizationID) > 0) {
                    GetAllPagingNumbers();
                }
            }
            else {
                showEquipmentPrice();
                hideNumeroVerre();
                if (parseInt(DepartureLocalizationID) > 0) {
                    GetAllEquipementProducts(DepartureLocalizationID, ProductCategoryID, 0);
                }

            }
        }, 'json');
    }
    function GetAllEquipementProducts(DepartureLocalizationID, ProductCategoryID, ProductNumberID) {
        $.get('@Url.Action("GetAllProducts", "InventoryDirectory")', { DepartureLocalizationID: DepartureLocalizationID, ProductCategoryID: ProductCategoryID, ProductNumberID: ProductNumberID }, function (data) {
            $('#ProductID').empty();
            $('#ProductID').append($("<option value='0' selected='selected'>@Resources.Select</option>"));
            $.each(data, function (key, value) {
                $('#ProductID').append($("<option></option>").val(value.ProductID).html(value.ProductCode));
            });

        }, 'json');
    }
    function GetAllPagingNumbers() {
        $("#ProductNumber").autocomplete({
            minLength: 4, // set minimum of 4 characters before search executes.
            delay: 100, // wait 0.1 second after keystroke before search executes.
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetAllNumbers", "InventoryDirectory")',
                    type: "POST",
                    dataType: "json",
                    //cache: false,
                    data: { filter: request.term, ProductCategory: $('#ProductCategory').val(), localization: $('#LocalizationID').val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.LensNumberFullCode, value: item.LensNumberFullCode, id: item.LensNumberID };
                        }))
                    }
                })
            },
            messages: {
                noResults: "No results",
                results: function (count) {
                    return count + (count == 0 ? ' result' : ' results');
                }
            },
            select: function (event, ui) {
                $("#ProductNumberID").val(ui.item.id);
                var ProductNumberID = $('#ProductNumberID').val();
                var Localization = $('#LocalizationID').val();
                var ProductCategoryID = $('#ProductCategory').val();
                OnLensNumberSelected(ProductNumberID, Localization, ProductCategoryID);
            }
        });
    }

    function OnLensNumberSelected(ProductNumberID, Localization, ProductCategoryID) {
        $.get('@Url.Action("OnLensNumberSelected", "InventoryDirectory")', { ProductNumberID: ProductNumberID, Localization: Localization, ProductCategoryID: ProductCategoryID }, function (data) {
            $('#ProductID1').empty();
            $('#ProductCode').empty();
            $.each(data, function (key, value) {
                $('#ProductID1').val(value.ProductID);
                $('#ProductCode').val(value.ProductCode);
            });
        }, 'json');
    }

    //ajout ds la grille
    function addToGrid() {
        var isAllValid = true;
        if ($('#InventoryDirectoryReference').val() == '') {
            isAllValid = false;
            $("#InventoryDirectoryReference").addClass("invalid-data");
        }
        else {
            $("#InventoryDirectoryReference").addClass("valid-data");
        }
        if ($('#LocalizationID').val() == "0") {
            isAllValid = false;
            $("#LocalizationID").addClass("invalid-data");
        }
        else {
            $("#LocalizationID").addClass("valid-data");
        }

        if ($('#ProductCategory').val() == "0") {
            isAllValid = false;
            $("#ProductCategory").addClass("invalid-data");
        }
        else {
            $("#ProductCategory").addClass("valid-data");
        }
        var ProductID = 0;
        var LensCategory = $('#LensCategory').val();
        if (LensCategory == 0) {
            if ($('#ProductID1').val() == "0") {
                isAllValid = false;
                $("#ProductID1").addClass("invalid-data");
            }
            else {
                $("#ProductID1").addClass("valid-data");
                ProductID = $('#ProductID1').val();
            }
        }
        else //equipement et frame
        {

            if ($('#ProductID').val() == "0" || $('#ProductID').val() == '') {
                isAllValid = false;
                $("#ProductID").addClass("invalid-data");
            }
            else {
                $("#ProductID").addClass("valid-data");
                ProductID = $('#ProductID').val();
            }

        }

        var data = {
            ProductID: ProductID,
            LocalizationID: $.trim($('#LocalizationID').val()),
            ProductCategory: $.trim($('#ProductCategory').val()),
            
        }
        $(this).val('Please wait...');
        if (isAllValid) {
            $.ajax({
                url: '@Url.Action("AddInventoryDirectoryLine", "InventoryDirectory")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    //check is successfully save to database
                    if (d.status == true) {
                        LoadCommandLinesGrid(true);
                        //clear form
                        productitemsansCat();
                    }
                    else {
                        alert(d.Message);
                    }
                    $('#AddToGrid').val('@Resources.AddProdCady');
                },
                error: function () {
                    alert('Error. Please try again.');
                    $('#AddToGrid').val('@Resources.AddProdCady');
                }
            });
        }
    }
    function ClearForm() {
        InitialiseHeader();
        productitems();
        LoadCommandLinesGrid(true);
        LoadAllCommandLines(true);
    }
    //chargement d'une commandes d'un client
    function LoadCommandLinesGrid(test) {

        if (test)
        {
            $('#CommandLinesGrid').dataTable().fnDestroy();
        }
        var oTable = $('#CommandLinesGrid');

        oTable = $('#CommandLinesGrid').dataTable({
            "paging": true,
            "pageLength": 4,
            "lengthMenu": [[4, 8, 12, -1], [4, 8, 12, "All"]],
            "searching": false,
            "ordering": true,
            "pagingType": "full_numbers",
            // Ajax call
            "ajax": "@Url.Action("InventoryDirectoryLines", "InventoryDirectory")",

            "columns": [
                { "data": "TMPID" },
                { "data": "ProductLabel", "width": "65%" },
                { "data": "LocalizationLabel", "width": "35%" },
                {// this is Actions Column
                    mRender: function (data, type, row) {
                        return '<a href="#" class="editor_remove" onclick="RemoveCustomerOrderLine(' + row.TMPID + ')"><span class="glyphicon glyphicon-trash"></span></a>'
                    }
                }
            ]
    });
    }
    function RemoveCustomerOrderLine(obj) {
        var globalID = obj;

        $.get('@Url.Action("RemoveInventoryDirectoryLine", "InventoryDirectory")', { TMPID: parseInt(globalID) }, function (data) {
            $.each(data, function (key, value) {
                LoadCommandLinesGrid(true);
                productitems();
            });
        }, 'json');

    }
    //chargement d'une commandes d'un client
    function LoadAllCommandLines(test) {

        if (test)
        {
            $('#mainTable').dataTable().fnDestroy();
        }
        var oTable = $('#mainTable');

        oTable = $('#mainTable').dataTable({
            "paging": true,
            "pageLength": 4,
            "lengthMenu": [[4, 8, 12, -1], [4, 8, 12, "All"]],
            "searching": false,
            "ordering": true,
            "pagingType": "full_numbers",
            // Ajax call
            "ajax": "@Url.Action("GetAllInventoryDirectories", "InventoryDirectory")",
            "columns": [
                { "data": "InventoryDirectoryID" },
                { "data": "Branch", "width": "20%" },
                { "data": "InventoryDirectoryReference", "width": "15%" },
                { "data": "InventoryDirectoryCreationDate", "width": "15%" },
                { "data": "InventoryDirectoryDescription", "width": "50%" },
                {// this is Actions Column
                    mRender: function (data, type, row) {
                        var deleteOption = '@LoadAction.IsSubMenuActionAble(MenuAction.DELETE, @profile, CodeValue.Supply.InventoryDirectory_SM.CODE, db)';
                        return (deleteOption == 'False') ? '<a href=# class="editor_remove" onclick="DeleteItem(this)"><span class="glyphicon glyphicon-trash"></span></a>' : '';
                    }
                }
            ]
    });
    }

    //validation d'une commande
    function ValideCommande() {

        var isAllValid = true;
        if ($('#BranchID').val() == '') {
            isAllValid = false;
            $("#BranchID").addClass("invalid-data");
        }
        else {
            $("#BranchID").addClass("valid-data");
        }

        if ($('#InventoryDirectoryCreationDate').val() == '') {
            isAllValid = false;
            $("#InventoryDirectoryCreationDate").addClass("invalid-data");
        }
        else {
            $("#InventoryDirectoryCreationDate").addClass("valid-data");
        }
        if ($('#InventoryDirectoryReference').val() == '') {
            isAllValid = false;
            $("#InventoryDirectoryReference").addClass("invalid-data");
        }
        else {
            $("#InventoryDirectoryReference").addClass("valid-data");
        }
        if ($('#InventoryDirectoryDescription').val() == '') {
            isAllValid = false;
            $("#InventoryDirectoryDescription").addClass("invalid-data");
        }
        else {
            $("#InventoryDirectoryDescription").addClass("valid-data");
        }

        if (isAllValid) {


            var data = {

                InventoryDirectoryReference: $('#InventoryDirectoryReference').val().trim(),
                InventoryDirectoryDescription: $('#InventoryDirectoryDescription').val().trim(),
                InventoryDirectoryCreationDate: $('#InventoryDirectoryCreationDate').val(),
                InventoryDirectoryDate: $('#InventoryDirectoryCreationDate').val(),
                BranchID: $('#BranchID').val().trim()
            }
            $(this).val('Please wait...');

            //post data to server
            $.ajax({
                url: '@Url.Action("AddInventoryDirectory", "InventoryDirectory")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    //check is successfully save to database
                    if (d.status == true) {
                        //will send status from server side
                        alert(d.Message);
                        ClearForm();
                    }
                    else {
                        alert(d.Message);
                    }
                },
                error: function (response) {
                    alert('Error. Please try again.');
                }
            });
        }

    }
    //supression commande en attente
    function DeleteItem(obj) {
        if (confirm("Do you want to Delete ?")) {
            var globalID = $(obj).parent().siblings(":first").text();
            //post to the server
            $(this).val('Please wait...');
            var data = {
                InventoryDirectoryID: parseInt(globalID)
            }
            //post data to server
            $.ajax({
                url: '@Url.Action("DeleteInventoryDirectory", "InventoryDirectory")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    //check is successfully save to database
                    if (d.status == true) {
                        //will send status from server side
                        alert(d.Message);
                        //location.reload(true);
                        ClearForm();
                    }
                    else {
                        alert(d.Message);
                    }
                    $('#btnSubmit').val('@Resources.SaveButton');
                },
                error: function (response) {
                    alert('Error. Please try again.');
                    $('#btnSubmit').val('@Resources.SaveButton');
                }
            });
        }

    }
</script>